<h2>Open Reel Tape Technical Metadata</h2>
<%= fields_for :tm do |f| %>
	<table>
		<tr>
			<th>Pack Deformation</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:pack_deformation, @tm.pack_deformations) %>
				<% else %>
					<%= f.text_field(:pack_deformation, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Preservation Problems</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:preservation_problem, @tm.preservation_problems) %>
				<% else %>
					<%= f.text_field(:preservation_problem, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Reel Size</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:reel_size, @tm.reel_sizes) %>
				<% else %>
					<%= f.text_field(:reel_size, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Playback Speed</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:playback_speed, @tm.playback_speeds) %>
				<% else %>
					<%= f.text_field(:playback_speed, readonly: true) %>
				<% end %>
			</td>
		</tr>  
		<tr>
			<th>Track Configuration</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:track_configuration, @tm.track_configurations) %>
				<% else %>
					<%= f.text_field(:track_configuration, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Tape Thickness</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:tape_thickness, @tm.tape_thicknesses) %>
				<% else %>
					<%= f.text_field(:tape_thickness, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Sound Field</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:sound_field, @tm.sound_fields) %>
				<% else %>
					<%= f.text_field(:sound_field, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Tape Stock Brand</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:tape_stock_brand, @tm.tape_stock_brands) %>
				<% else %>
					<%= f.text_field(:tape_stock_brand, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Tape Base</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:tape_base, @tm.tape_bases) %>
				<% else %>
					<%= f.text_field(:tape_base, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Year of Recording</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:year_of_recording) %>
				<% else %>
					<%= f.text_field(:year_of_recording, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Directions Recorded</th>
			<td>
			<% if @edit_mode %>
				<%= f.select(:directions_recorded, @tm.directions_recorded_vals) %>
			<% else %>
				<%= f.text_field(:directions_recorded, readonly: true) %>	
			<% end %>
			</td>
		</tr>
	</table>
<% end %>