<%= nested_form_for(@bin) do |f| %>
	<table>
		<tr>
			<th>MDPI Barcode</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:mdpi_barcode, readonly: !@edit_mode, class: "mdpi") %>
				<% else %>
					<%= @bin.mdpi_barcode %>
				<% end %>
 			</td>
 		</tr>
 		<tr>
			<th>Identifier</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:identifier) %>
				<% else %>
					<%= @bin.identifier %>
				<% end %>
 			</td>
 		</tr>
 		<tr>
			<th>Description</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:description) %>
				<% else %>
					<%= @bin.description %>
				<% end %>
 			</td>
 		</tr>
		<tr>
			<th>Imported from spreadsheet</th>
			<td>
			<% if !@bin.spreadsheet.nil? %>
				<%= link_to("#{@bin.spreadsheet.filename}", @bin.spreadsheet) %>
			<% end %>
			</td>
		</tr>
		<tr>
			<th>Assigned to batch</th>
			<td>
				<% if @edit_mode %>
					<%= select('batch', 'id', @batches, {:include_blank => 'Not Assigned'}) %>
				<% elsif ! @bin.batch.nil? %>
					<%= link_to @bin.batch.identifier, batch_path(@bin.batch.id) %> 
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Objects Count</th>
			<td><%= @bin.physical_objects_count %></td>
		</tr>
		<tr>
			<th>Workflow Status</th>
			<td><%= @bin.display_workflow_status %></td>
		</tr>
	</table>
        <%= f.fields_for :condition_statuses do |condition| %>
          <%= render 'condition_status_templates/condition_status_fields', f: condition, target_object: @bin %>
        <% end %>
        <% if @edit_mode %>
            <%= f.link_to_add "Add a condition status", :condition_statuses %>
        <% end %>
	<%if @edit_mode %>
	  <div class="clear" ><%= submit_tag(@submit_text) %></div>
	<% end %>
<% end %>
