<%= nested_form_for(@bin) do |f| %>
	<table>
		<tr>
			<th>MDPI Barcode</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:mdpi_barcode, readonly: !@edit_mode, onchange: "validateBarcode(this)", onkeyup: "validateBarcode(this)") %>
				<% else %>
					<%= @bin.mdpi_barcode %>
				<% end %>
 			</td>
 		</tr>
 		<tr>
			<th>Identifier</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:identifier) %>
				<% else %>
					<%= @bin.identifier %>
				<% end %>
 			</td>
 		</tr>
 		<tr>
			<th>Description</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:description) %>
				<% else %>
					<%= @bin.description %>
				<% end %>
 			</td>
 		</tr>
		<tr>
			<th>Assigned to batch</th>
			<td>
				<% if @edit_mode %>
					<%= select('batch', 'id', @batches, {:include_blank => 'Not Assigned'}) %>
				<% elsif ! @bin.batch.nil? %>
					<%= @bin.batch.identifier %> 
				<% end %>
			</td>
		</tr>

		<%= render 'workflow_status_template/current_workflow_status', f: f, target_object: @bin %>

	</table>
        <%= f.fields_for :condition_statuses do |condition| %>
          <%= render 'condition_status_template/condition_status_fields', f: condition, target_object: @bin %>
        <% end %>
        <% if @edit_mode %>
            <%= f.link_to_add "Add a condition status", :condition_statuses %>
        <% end %>
	<%if @edit_mode %>
	  <div class="clear" ><%= submit_tag(@submit_text) %></div>
	<% end %>
<% end %>
<% if !@edit_mode %>
	<div id="add_item_div">
		<h2>Add an item to this Bin</h2>
		<p>
			Scan an MDPI barcode to add an item to this bin. 
			If the barcode does not exist in the POD, it is
			assumed this is a new <b>Box</b>.
		</p>

		<%# this is a special case where the ":" must be here instead of "@" %>
		<%= form_for(:barcode, url: {action: 'bin_add_item'} ) do |f| %>
			<%= hidden_field(:bin, :id) %>
			<table>
				<tr>
					<th>MDPI Barcode</th>
					<td>
						<%= f.text_field(:mdpi_barcode, onchange: "validateBarcode(this)", onkeyup: "validateBarcode(this)") %>
						<%#= f.text_field(:mdpi_barcode) %>
					</td>
				</tr>
			</table>
			<%= f.submit("Add item") %>
		<% end %>
	</div>
<% end %>
