<table>
  <tr class="header">
    <th>Barcode</th>
    <th>Identifier</th>
    <th>Description</th>
    <th>Batch</th>
    <th>Workflow Status</th>
    <th>Actions</th>
  </tr>
  <% count = 1 %>
  <% @bins.each do |bin|%>
    <tr>
      <td><%= bin.mdpi_barcode %></td>
      <td><%= bin.identifier %></td>
      <td><%= bin.description %></td>
      <td><%= bin.batch.nil? ? "" : bin.batch.name %></td>
      <td><%= bin.current_workflow_status.nil? ? "" : bin.current_workflow_status.name %></td>
      <td>
        <%= link_to("Show", bin_path(bin)) %>
        <% if @batch.nil? %>
          <%= link_to("Edit", edit_bin_path(bin)) %>
          <%= link_to("Delete", bin_path(bin), method: :delete, data: {:confirm=>'Are you sure you want to delete this Bin?'})%>
        <% else %>
          <%= link_to "Remove", unbatch_bin_path(bin), method: :post %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

