<% string_limit = 12 %>
<table>
  <tr class="header">
    <th>Barcode / Identifier</th>
    <th>Desc.</th>
    <% if @batch.nil? %>
    <th>Batch</th>
    <% end %>
    <th>Obj's</th>
    <th>Workflow Status</th>
    <th>Actions</th>
  </tr>
  <% count = 1 %>
  <% @bins.each do |bin|%>
    <tr>
      <td><%= bin.mdpi_barcode %><br/><%= bin.identifier %></td>
      <td><%= bin.description %></td>
      <% if @batch.nil? %>
      <% batch_string = bin.batch.nil? ? "" : bin.batch.identifier %>
      <td title="<%= batch_string.length <= string_limit ? "" : batch_string %>">
         <% if bin.batch %>
           <%= link_to(batch_string.length <= string_limit ? batch_string : batch_string[0,string_limit - 3] + '...', bin.batch) if policy(bin.batch).show? %>
         <% end %>
      </td>
      <% end %>
      <td><%= bin.physical_objects_count %></td>
      <td><%= bin.display_workflow_status %></td>
      <td>
        <%= link_to("Show", bin_path(bin)) if policy(bin).show? %>
        <% if @batch.nil? %>
          <%= link_to("Edit", edit_bin_path(bin)) if policy(bin).edit? %>
          <%= link_to("Delete", bin_path(bin), method: :delete, data: {confirm: 'Are you sure you want to delete this Bin?'}) if policy(bin).destroy? %>
        <% else %>
          <%= link_to("Remove", unbatch_bin_path(bin), method: :post, data: {confirm: 'Are you sure you want to remove this Bin from the Batch?'}) if policy(bin).unbatch? %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

