<% string_limit = 12 %>
<table>
  <tr class="header">
    <th>Barcode</th>
    <th>Identifier</th>
    <th>Desc.</th>
    <% if @batch.nil? %>
    <th>Batch</th>
    <% end %>
    <th>Obj's</th>
    <th>Workflow Status</th>
    <th>Actions</th>
  </tr>
  <% count = 1 %>
  <% @bins.each do |bin|%>
    <tr>
      <td><%= bin.mdpi_barcode %></td>
      <td title="<%= bin.identifier.length <= string_limit ? "" : bin.identifier %>"><%= bin.identifier.length <= string_limit ? bin.identifier : bin.identifier[0,string_limit - 3] + '...'%></td>
      <td title="<%= bin.description %>"><%= bin.description.to_s.blank? ? "" : bin.description[0,1] + "..." %></td>
      <% if @batch.nil? %>
      <% batch_string = bin.batch.nil? ? "" : bin.batch.identifier %>
      <td title="<%= batch_string.length <= string_limit ? "" : batch_string %>">
         <% if bin.batch %>
           <%= link_to batch_string.length <= string_limit ? batch_string : batch_string[0,string_limit - 3] + '...', bin.batch %>
         <% end %>
      </td>
      <% end %>
      <td><%= bin.physical_objects_count %></td>
      <td><%= bin.display_workflow_status %></td>
      <td>
        <%= link_to("Show", bin_path(bin)) %>
        <% if @batch.nil? %>
          <%= link_to("Edit", edit_bin_path(bin)) %>
          <%= link_to("Delete", bin_path(bin), method: :delete, data: {confirm: 'Are you sure you want to delete this Bin?'})%>
        <% else %>
          <%= link_to "Remove", unbatch_bin_path(bin), method: :post, data: {confirm: 'Are you sure you want to remove this Bin from the Batch?'} %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

