<% content_for :context_menu do %>
  <div class="contextMenuItem">
	  <%= link_to("Create Bin", {:action => 'new'}) if policy(Bin).new? %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to("Create Box", new_box_path) if policy(Box).new? %>
	</div>
<% end %>
<%= form_tag(bins_path, method: :get) do %>
  Filtering by workflow status: <%= select_tag :workflow_status, options_for_select(WorkflowStatusTemplate.where(object_type: "Bin").collect { |wst| wst.name }, params[:workflow_status]), { prompt: "(No filter applied)" } %><br/>
  Filtering by format: <%= select_tag :format, options_for_select(TechnicalMetadatumModule.tm_formats_hash, params[:format]), { prompt: "(No filter applied)" } %><br/>
  Filtering by identifier: <%= text_field_tag :identifier, params[:identifier] %>
  <%= submit_tag "Update filters" %>
<% end %>
<div class="left">
	<h2><%= params[:workflow_status].blank? ? "All" : params[:workflow_status] %> <%= params[:format].blank? ? "" : params[:format] %> Bins</h2>
	<%= render 'bins_table' %>
</div>
<div class="left">
	<h2>Unassigned Boxes</h2>
	<%= render 'boxes/boxes_table' %>
</div>
