<h2>Index filters</h2>
<em>Unfiltered results are empty, by default.  To view all bins, explicitly apply a set of empty filters.  Control-click or command-click to select multiple workflow statuses, or unselect them all.</em>
<%= form_tag(bins_path, method: :get) do %>
  <table>
    <tr>
      <th>Workflow status</th>
      <td><%= select_tag :workflow_status, options_for_select(WorkflowStatusTemplate.where(object_type: "Bin").order(:sequence_index).collect { |wst| wst.name }, params[:workflow_status]), { multiple: true, size: WorkflowStatusTemplate.where(object_type: 'Bin').size } %></td>
    </tr>
    <tr>
      <th>Format</th>
      <td><%= select_tag :tm_format, options_for_select(TechnicalMetadatumModule.tm_formats_hash, params[:tm_format]), { prompt: "(No filter applied)" } %></td>
    </tr>
    <tr>
      <th>Identifier</th>
      <td><%= text_field_tag :identifier, params[:identifier] %></td>
    </tr>
  </table>
  <%= submit_tag "Apply filters" %>
<% end %>
<div class="left">
	<h2><%= params[:workflow_status] %> <%= params[:identifier] %> <%= params[:tm_format] %> Bins</h2>
  <h4>
    Bin/Physical Object Count: <%= @bins.size %>/<%= @bins.inject(0) { |sum, bin| sum + bin.physical_objects_count} %>
  </h4>
  Export current list to: <%= link_to 'Excel', bins_path(params.symbolize_keys.merge({format: :xls})) %>
	<%= render 'bins_table' %>
</div>
<div class="left">
	<h2>Unassigned Boxes</h2>
	<h4>
	  Unassigned Box/Physical Object Count: <%= @boxes.size %>/<%= @boxes.inject(0) { |sum, bin| sum + bin.physical_objects_count } %>
	</h4>
	<%= render 'boxes/boxes_table' %>
</div>
