<% content_for :context_menu do %>
	<div class="contextMenuItem">
	  <%= link_to("Edit Bin", {:action => 'edit', :id => @bin.id}) %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to("Delete", @bin, method: :delete, data: {:confirm=>'Are you sure you want to delete this Bin?'})%>
	</div>
<% end %>


<div id="dialog" title="New Box" class="dialog"></div>
<div id="assign_bin_dialog" title="Assign Bin" class="dialog"></div>

<%= error_messages_for(@bin) %>

<div id="bin_div" class="left">
  <h2>Bin</h2>
  <%= render 'bin' %>
    <% packed_status = @bin.packed_status? %>
    <% if packed_status %>
      <div><%= Bin.packed_status_message %></div>
    <% end %>
	<div>
	    <h2>Pack From Picklist</h2>


	    <%= form_for(@bin, url: {controller: 'picklists', action: 'process_list', bin_id: @bin.id}) do |f| %>
	      <table>
	        <tr>
	          <th>Select the picklist to pack this bin from</th>
	          <td>
	            <%= select('picklist', 'id', @picklists, {}, disabled: packed_status) %>
	          </td>
	        </tr>
	      </table>
	      <%= f.submit("Pack Bin", { disabled: packed_status} ) %>
	    <% end %>
	    <h2>Or</h2>
				<table>
					<tr>
						<th>Assign Boxes to this Bin</th>
						<td><%= button_to "Assign Boxes", show_boxes_bin_path, :method => "get", disabled: packed_status %></td>
					</tr>
				</table>
	  </div>
	</div>
</div>
<div class="left">
	<h2>Boxes: <%= @bin.boxes.size %></h2>
	<%= render 'boxes/boxes_table' %>
</div>
<div class="left">
	<h2>Physical Objects packed directly into this Bin: <%= @bin.physical_objects.size %></h2>
	<%= render 'physical_objects/physical_objects_table' %>
</div>
