<% content_for :context_menu do %>
  <div class="contextMenuItem">
	  <%= link_to("Create Bin", {:action => 'new'}) %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to("Edit Bin", {:action => 'edit', :id => @bin.id}) %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to("Delete", bin_path(@bin.id), method: :delete, data: {:confirm=>'Are you sure you want to delete this Bin?'})%>
	</div>
	<div class="contextMenuItem">
		<%= link_to("Create Box", "#", onclick: "new_box(#{@bin.id})") %>
	</div>
<% end %>


<div id="dialog" title="New Box" class="dialog"></div>
<div id="assign_bin_dialog" title="Assign Bin" class="dialog"></div>

<%= error_messages_for(@bin) %>

<div id="bin_div" class="left">
  <h2>Bin</h2>
    <%= render(:partial => "bin") %>
</div>
<div class="left">
	<h2>Boxes</h2>
	<%= render(partial: 'boxes') %>
</div>
<div class="left">
	<h2>Physical Objects</h2>
	<%= render(partial: 'physical_objects') %>
</div>
