<% content_for :context_menu do %>
	<div class="contextMenuItem">
	  <%= link_to("Edit Bin", {:action => 'edit', :id => @bin.id}) if policy(@bin).edit? %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to("Delete", @bin, method: :delete, data: {:confirm=>'Are you sure you want to delete this Bin?'}) if policy(@bin).destroy? %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to "View Workflow History", workflow_history_bin_path(@bin) if policy(@bin).show? %>
	</div>
<% end %>


<div id="dialog" title="New Box" class="dialog"></div>
<div id="assign_bin_dialog" title="Assign Bin" class="dialog"></div>

<%= error_messages_for(@bin) %>
<div id="bin_div" class="left" >
  <h2>Bin</h2>
  <%= render 'bin' %>
  <% packed_status = @bin.packed_status? %>
  <% action = (@bin.current_workflow_status == "Created" ? "seal" : "unseal") %>
  <div>
  	<%= form_for(@bin, url: {controller: 'bins', action: action}) do |f| %>
  		<table>
  			<tr>
  				<th><%= action == "seal" ? "Seal Bin" : "Unseal Bin" %></th>
  				<td>
						<%= f.submit(action == "seal" ? "Seal" : "Unseal") %>
  				</td>
  			</tr>
  		</table>
  	<% end %>
  </div>
	<div>
	    <h2>Pack From Picklist</h2>
	    <%= form_for(@bin, url: {controller: 'picklists', action: 'pack_list', bin_id: @bin.id}) do |f| %>
	      <table>
	        <tr>
	          <th>Select the picklist to pack this bin from</th>
	          <td>
	            <%= select('picklist', 'id', @picklists, {}, disabled: packed_status) %>
	          </td>
	        </tr>
	      </table>
	      <%= f.submit("Pack Bin", name: "pack_bin_button", disabled: packed_status ) %>
	    <% end %>
	    <h2>Or</h2>
				<table>
					<tr>
						<th>Assign Boxes to this Bin</th>
						<td><%= button_to "Assign Boxes", show_boxes_bin_path, :method => "get", disabled: packed_status || @bin.physical_objects.any? %></td>
					</tr>
				</table>
	  </div>
</div>

<div class="left">
	<h2>Boxes: <%= @bin.boxes.size %></h2>
	<%= render 'boxes/boxes_table' %>
</div>
<div class="clear">
	<h2>Physical Objects packed in this Bin</h2>
	<span>(via boxes, or directly)</span>
	<%= render 'physical_objects/physical_objects_table' %>
</div>
