<%= fields_for :cylinder_dp do |f| %>
  <div id="cylinderPreload" class="left">
    <h2>Cylinder Digital File Provenance Fields</h2>
    <table>
      <tr>
        <th>Speed used</th>
        <td>
          <%= f.text_field(:cylinder_dfp_speed_used) %>
        </td>
      </tr>
      <tr>
        <th>Stylus size</th>
        <td>
          <%= f.text_field(:cylinder_dfp_stylus_size) %>
        </td>
      </tr>
      <tr>
        <th>Comments</th>
        <td>
          <%= f.select(:cylinder_dfp_comments, options_for_select(DigitalProvenance::CYLINDER_TEXT_COMMENTS), {},  multiple: true, size: DigitalProvenance::CYLINDER_TEXT_COMMENTS.size) %>
        </td>
      </tr>
      <% DigitalProvenance::CYLINDER_TIMESTAMP_COMMENTS.each do |timestamp_comment| %>
      <tr>
        <th><%= timestamp_comment.to_s.humanize %>
        <td>
          <% if timestamp_comment == :locked_grooves %>
          <%= f.text_field(timestamp_comment) %>
          <% else %>
          <%= f.time_select(timestamp_comment, prompt: { hour: 'mm', minute: 'ss' }) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <div class="clear" ><%= submit_tag(@submit_text) %></div>
  </div>
<% end %>
