  <div id="physicalObject" class="left">
    <h2>Physical Object <%= "[#{@physical_object.id}]" if @physical_object.id %></h2>
    <% if @display_assigned %>
      <div id="assigned_to_div">
        <table>
      	  <tr>
      	    <th colspan="2">Assignment</th>
      	  </tr>
          <tr>
            <th>Shipment</th>
            <td>
              <% if !@physical_object.shipment.nil? %>
                <%= link_to(@physical_object.shipment.identifier, controller: 'shipments', action: 'show', id: @physical_object.shipment.id) if policy(@physical_object.shipment).show? %>
              <% else %>
                Not Assigned
              <% end %>
              <% if @edit_mode %>
                <%= @physical_object.shipment.nil? ? "<br/>Assign to: ".html_safe : "<br/>Reassign to: ".html_safe %>
                <%= f.collection_select :shipment_id, Shipment.order('identifier ASC'), :id, :identifier, {include_blank: 'None'} %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Picklist</th>
            <td>
              <% if !@physical_object.picklist.nil? %>
                <%= link_to(@physical_object.picklist.name, controller: 'picklists', action: 'show', id: @physical_object.picklist.id) if policy(@physical_object.picklist).show? %>
              <% else %>
                Not Assigned
              <% end %>
              <% if @edit_mode %>
                <%= @physical_object.picklist.nil? ? "<br/>Assign to: ".html_safe : "<br/>Reassign to: ".html_safe %>
                <%= f.collection_select :picklist_id, Picklist.order('name ASC'), :id, :name, {include_blank: 'None'} %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Bin</th>
            <td>
              <% if @edit_mode %>
                <%= text_field_tag "bin_mdpi_barcode", (@physical_object.bin ? @physical_object.bin.mdpi_barcode : "" ), class: "mdpi" %>
              <% elsif !@edit_mode and !@physical_object.bin.nil? %>
                <%= link_to("Bin: #{@physical_object.bin.mdpi_barcode}", @physical_object.bin) if policy(@physical_object.bin).show? %>
              <% else %>
                Not Assigned
              <% end %>
            </td>
          </tr>

          <tr>
            <th>Box</th>
            <td>
              <% if @edit_mode %>
                <%= text_field_tag "box_mdpi_barcode", (@physical_object.box ? @physical_object.box.mdpi_barcode : ""), class: "mdpi" %>
              <% elsif !@edit_mode and !@physical_object.box.nil? %>
                <%= link_to("Box: #{@physical_object.box.mdpi_barcode}", @physical_object.box) if policy(@physical_object.box).show? %>
              <% else %>
                Not Assigned
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Batch</th>
            <td>
              <% p = @physical_object %>
              <% batch = nil %>
              <% name = nil %>
              <% bid = nil %>
              <% if !p.bin.nil? and !p.bin.batch.nil? %>
                <% batch = p.bin.batch %>
              <% elsif !p.box.nil? and !p.box.bin.nil? and !p.box.bin.batch.nil?%>
                <% batch = p.box.bin.batch %>
              <% end %>
              <% if batch %>
                <% name = batch.identifier %>
                <% bid = batch.id %>
              <% end %>
              <% if !name.nil? %>
                <%= link_to(name, controller: :batches, action: :show, id: bid) if policy(batch).show? %>
              <% else %>
                Not Assigned
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    <% elsif @search_mode %>
      <div class="accordion">
        <h2>Assignment</h2>
        <div>
          <table>
            <tr>
              <th>Picklist</th>
              <td>
                <%= f.select :picklist_id, Picklist.all.order(:name).collect { |pl| [pl.name, pl.id] }, { }, multiple: true, size: 4 %>
              </td>
            </tr>
            <tr>
              <th>Bin</th>
              <td>
                <%= f.select :bin_id, Bin.all.order(:identifier).collect { |b| [b.identifier, b.id] }, { }, multiple: true, size: 4 %>
              </td>
            </tr>
            <tr>
              <th>Box</th>
              <td>
                <%= f.select :box_id, Box.all.order(:mdpi_barcode).collect { |b| [b.mdpi_barcode, b.id] }, { }, multiple: true, size: 4 %>
              </td>
            </tr>
            <tr>
              <th>Spreadsheet</th>
              <td>
                <%= f.select :spreadsheet_id, Spreadsheet.all.order(:filename).collect { |s| [s.filename, s.id] }, { }, multiple: true, size: 4 %>
              </td>
            </tr>

          </table>
        </div>
      </div>
    <% end %>
    <table>
      <tr>
        <th>MDPI barcode</th>
        <td>
          <%= f.text_field(:mdpi_barcode, readonly: !@edit_mode, class: "mdpi") %>
        </td>
      </tr>
      <tr>
        <th>Format</th>
        <td>
          <% if @search_mode %>
          <%= f.select(:format, PhysicalObject.formats, { include_blank: "" }, :onChange => "tm_div(this.value, 'PhysicalObject', #{@physical_object.id.nil? ? 0 : @physical_object.id}, #{@edit_mode}, 'true')")  %>
          <% else %>
          <%= f.select(:format, PhysicalObject.formats, {}, disabled: !@edit_mode, :onChange => "tm_div(this.value, 'PhysicalObject', #{@physical_object.id.nil? ? 0 : @physical_object.id}, #{@edit_mode}, 'false')")  %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Has ephemera</th> 
        <td>
          <% if @search_mode %>
          <%= f.select(:has_ephemera, { "true" => 1, "false" => 0 }, { include_blank: ""}) %>
          <% else %>
          <%= f.check_box(:has_ephemera, disabled: !(@pack_mode || @ephemera_mode)) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Ephemera returned</th>
        <td>
          <% if @search_mode %>
          <%= f.select(:ephemera_returned, { "true" => 1, "false" => 0 }, { include_blank: ""}) %>
          <% else %>
          <%= f.check_box(:ephemera_returned, disabled: !@ephemera_mode) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Unit</th>
        <td>
          <% if @search_mode %>
          <%= f.select :unit_id, Unit.order('abbreviation ASC').collect { |u| [u.abbreviation, u.id] }, { }, multiple: true, size: 5 %>
          <% else %>
          <%= f.collection_select :unit_id, Unit.order('abbreviation ASC'), :id, :abbreviation, {prompt: "Please specify a unit..."}, disabled: !@edit_mode %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Title</th>
        <td>
          <%= f.text_field(:title, readonly: !@edit_mode) %>
        </td> 
      </tr>
      <tr>
        <th>Call number</th>
        <td>
          <%= f.text_field(:call_number, readonly: !@edit_mode) %>
        </td>
      </tr>
      <tr>
        <th>IUCAT barcode</th>
        <td>
          <%= f.text_field(:iucat_barcode, readonly: !@edit_mode) %>
        </td>
      </tr>
      <tr>
        <th>Year</th>
        <td>
          <%= f.text_field(:year, readonly: !@edit_mode) %>
        </td>
      </tr>
      <tr>
        <th>Group key</th>
        <td>
          <% unless @group_key.nil? %>
            <%= link_to(@group_key.group_identifier, group_key_path(@group_key.id), target: "_blank") if policy(@group_key).show? %>
            <%= f.hidden_field(:group_key_id) %>
          <% else %>
            Not assigned
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Group position</th>
        <td>
          <%= f.number_field(:group_position, readonly: !@edit_mode, min: 1) %>
        </td>
      </tr>
      <tr>
        <th>Carrier stream index</th>
        <td>
          <%= @physical_object.carrier_stream_index %>
        </td>
      </tr>
      <tr>
        <th>Imported from spreadsheet</th>
        <td>
          <% if !@physical_object.spreadsheet.nil? %>
            <%= link_to("#{@physical_object.spreadsheet.filename}", @physical_object.spreadsheet) if policy(@physical_object.spreadsheet).show? %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Workflow Status</th>
        <td>
          <% if @search_mode %>
            <%= f.select :workflow_status, WorkflowStatusTemplate.where(object_type: 'Physical Object').order(:sequence_index).collect { |wst| [wst.name, wst.name] }, { }, multiple: true, size: WorkflowStatusTemplate.where(object_type: 'Physical Object').size %>
          <% else %>
            <%= @physical_object.display_workflow_status %>
          <% end %>
        </td>
      </tr>
      <% if @repeat %>
        <tr>
          <th>Collection identifier</th>
          <td>
            <%= f.text_field(:collection_identifier, readonly: !@edit_mode) %>
          </td>
        </tr>
        <tr>
          <th>Collection name</th>
          <td>
            <%= f.text_field(:collection_name, readonly: !@edit_mode) %>
          </td>
        </tr>
      <% end %>
    </table>
    <% if @search_mode %>
    <div id="workflow_statuses_div">
      <%= fields_for @workflow_status do |ws| %>
        <%= render(partial: 'workflow_status_templates/workflow_status_search', locals: { f: ws, target_object: @physical_object }) %>
      <% end %>
    </div>
    <div id="condition_statuses_div">
      <%= fields_for @condition_status do |cs| %>
        <%= render(partial: 'condition_status_templates/condition_status_fields', locals: { f: cs, target_object: @physical_object }) %>
      <% end %>
    </div>
    <div id="notes_div">
      <%= fields_for @note do |n| %>
        <%= render(partial: 'notes/note_fields', locals: { f: n }) %>
      <% end %>
    </div>
    <% else %>
    <%# FIXME: kludge workaround for 1st link_to_add being broken, bug POD-648 %>
    <% f.fields_for :workflow_statuses do |ws| %>
    <% end %>
    <% f.link_to_add "WS", :workflow_statuses if policy(@physical_object).edit? %>
    <%# end kludge %>
    <div id="condition_statuses_div">
      <%= f.fields_for :condition_statuses do |condition| %>
        <%= render 'condition_status_templates/condition_status_fields', f: condition, target_object: @physical_object %>
      <% end %>
      <% if @edit_mode %>
        <%= f.link_to_add "Add a condition status", :condition_statuses if policy(@physical_object).edit? %>
      <% end %>
    </div>
    <div id="notes_div">
      <%= f.fields_for :notes do |note| %>
        <%= render 'notes/note_fields', f: note%>
      <% end %>
      <% if @edit_mode %>
        <%= f.link_to_add "Add a note", :notes if policy(@physical_object).edit? %>
      <% end %>
    </div>
    <% end %>

    <% if @search_mode %>
    <div id="hidden_fields_div">
    <% else %>
    <div id="hidden_fields_div" class="accordion">
    <% end %>
      <h2>Hidden Fields</h2>
      <div>
        <table>
          <tr>
            <th>Author</th>
            <td>
              <%= f.text_field(:author, readonly: !@edit_mode) %>
            </td> 
          </tr>
          <tr>
            <th>Title control number</th>
            <td>
              <%= f.text_field(:title_control_number, readonly: !@edit_mode) %>
            </td>
          </tr>
          <tr>
            <th>Catalog key</th>
            <td>
              <%= f.text_field(:catalog_key, readonly: !@edit_mode) %>
            </td>
          </tr>
          <tr>
            <th>Home location</th>
            <td>
              <%= f.text_field(:home_location, readonly: !@edit_mode) %>
            </td>
          </tr>
          <tr>
            <th>OCLC number</th>
            <td>
              <%= f.text_field(:oclc_number, readonly: !@edit_mode) %>
            </td>
          </tr>
          <tr>
            <th>Other copies</th>
            <td>
              <% if @search_mode %>
              <%= f.select(:other_copies, { "true" => 1, "false" => 0 }, { include_blank: ""}) %>
              <% elsif @edit_mode %>
                <%= f.check_box(:other_copies) %>
              <% else %>
                <input type="text" name="other_copies" value=<%= @physical_object.other_copies ? "true" : "false" %> readonly />
              <% end %>
            </td>
          </tr>
          <% unless @repeat %>
            <tr>
              <th>Collection identifier</th>
              <td>
                <%= f.text_field(:collection_identifier, readonly: !@edit_mode) %>
              </td>
            </tr>
            <tr>
              <th>Collection name</th>
              <td>
                <%= f.text_field(:collection_name, readonly: !@edit_mode) %>
              </td>
            </tr>
          <% end %>
          <tr>
            <th>Generation</th>
            <td>
              <% if @search_mode %>
              <%= f.select :generation, @physical_object.generation_values, { }, multiple: true, size: @physical_object.generation_values.size %>
              <% else %>
              <%= f.select(:generation, @physical_object.generation_values, {}, disabled:!@edit_mode) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Created</th>
            <td>
            <% if @physical_object and @physical_object.created_at %>
              <%= @physical_object.created_at.in_time_zone %>
            <% end %>
            </td>
          </tr>
          <tr>
            <th>Updated</th>
            <td>
            <% if @physical_object and @physical_object.updated_at %>
              <%= @physical_object.updated_at.in_time_zone %>
            <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
