<%= form_for(:physical_object, :url => {:action => @action, :id => @physical_object.id}) do |f| %>
<div id="physicalObject" class="left">
  <h2>Physical Object</h2>
  <table summary="Physical Object Fields">
    <% @physical_object.attributes.each do |name, value|%>
      <% if name != "id"%>
      <tr>
        <th><%= name.gsub("_", ' ').capitalize%></th>
        <td>
        <% if @edit_mode %>
          <% if name == "created_at" || name == "updated_at" %>
            <%= f.text_field name, :disabled => true %>
          <% elsif name == "format" %>
            <%= f.select(
              :format, @physical_object.formats, 
              {}, 
              :onChange => "tm_div(this.value, #{@physical_object.id.nil? ? 0 : @physical_object.id})"
              )  %>
          <% else %>
            <%= f.text_field(name)%>
          <% end %>
        <% else %>
          <%= value %>
        <%end%>
        </td>
      </tr>
      <% end %>
    <% end %>
    <% if !@edit_mode %>
      <tr><th>Workflow Status</th><td><%= @physical_object.current_workflow_status.nil? ? "" :  @physical_object.current_workflow_status.name %></td></tr> 
    <% else %>
      <tr><th>Workflow Status</th><td><%= f.select :current_workflow_status, @physical_object.workflow_status_options, selected: @physical_object.current_workflow_status.nil? ? "" : @physical_object.current_workflow_status.name, prompt: 'Select a workflow status...' %></td></tr>
    <% end %>
  </table>
</div>
<%= f.fields_for @tm do |tm_fields| %>
  <div id="technicalMetadatum" class="left">
    <%= render(:partial => render_tm_partial(@physical_object), :locals => {:f => tm_fields}) %>
  </div>
<% end %>

<div class="left">
<h2>Digital Files</h2>
  <% @digital_files.each do |files| %>
    <%= render(partial: 'media_files/media_file_form', locals: {f: files}) %>
  <% end %>
</div>
<%# add the submit and close off the form_for %>
<%if @edit_mode or @action == 'destroy' %>
  <div class="clear" ><%= submit_tag(@submit_text) %></div>
<% end %>
<% end %>
