<table class="po list">
  <tr class="header">
    <th>ID</th>
    <th>MDPI barcode</th>
    <th>IU barcode</th>
    <th>Shelf number</th>
    <th>Call number</th>
    <th>Format</th>
    <th>Actions</th>
  </tr>
  <% count = 1 %>
  <% @physical_objects.each do |po| %>
    <% if count.odd? %>
      <tr class='odd'>
      <%else%>
      <tr class='even'>
    <%end%>
    <td><%= po.id %></td>
    <td><%= po.mdpi_barcode %></td>
    <td><%= po.iucat_barcode %></td>
    <td><%= po.shelf_location %></td>
    <td><%= po.call_number %></td>
    <td><%= po.format %></td>
    <td>
      <%= link_to("Show", po, class: 'action show') %>
      <% if @bin.nil? && @box.nil? %>
        <%= link_to("Edit", edit_physical_object_path(po), :class => 'action edit') %>
        <%= link_to("Split", split_show_physical_object_path(po), :class => 'action split')%>
        <%= link_to("Delete", physical_object_path(po.id), method: :delete, data: {:confirm=>'Are you sure you want to delete this Physical Object?'})%>
      <% elsif !@bin.nil? %>
        <%= link_to("Remove", unbin_physical_object_path(po), method: :post) %>
      <% elsif !@box.nil? %>
        <%= link_to("Remove", unbox_physical_object_path(po), method: :post) %>
      <% end %>
      </td>
    </tr>
    <% count += 1 %>
  <% end %>
</table>

