<% @controller ||= 'physical_objects' %>
<% @tm ||= @physical_object.technical_metadatum.specific %>
<%= error_messages_for(@physical_object) %>
<%= error_messages_for(@tm) %>
<%= nested_form_for(@physical_object) do |f| %>
  <%= hidden_field_tag "repeat", @repeat %>
  <%if @edit_mode or @action == 'destroy' %>
    <div class="clear" ><%= submit_tag(@submit_text) %></div>
  <% end %>
  <%= render(partial: 'physical_objects/physical_object_metadata_fields', locals: {f: f}) %>
  <%# add the submit and close off the form_for %>
<% end %>

