  <% content_for :context_menu do %>
    <div class="contextMenuItem">
      <%= link_to("Cancel", {:controller => 'physical_objects', :action => 'show', :id => @physical_object.id}, :class => 'action split') if policy(@physical_object).show? %>
    </div>
  <% end %>
<div>
  <h2>Preload Cylinder Digital Provenance</h2>
  <% @submit_text = "Create Digital File Provenance" %>
  <% @controller ||= 'physical_objects' %>
  <% @tm ||= @physical_object.technical_metadatum.specific %>
  <%= error_messages_for(@physical_object) %>
  <%= error_messages_for(@tm) %>
  <%= nested_form_for(@physical_object, url: { action: 'dfp_preload_update' }) do |f| %>
    <div class="clear" ><%= submit_tag(@submit_text) %></div>
    <%= render(partial: 'digital_provenance/digital_provenance_form') %>
    <div id="physicalObject" class="left">
      <div>
        <h2>Physical Object <%= "[#{@physical_object.id}]" if @physical_object.id %></h2>
        <table>
          <tr>
            <th>MDPI barcode</th>
            <td>
              <%= f.text_field(:mdpi_barcode, readonly: true, class: "mdpi") %>
            </td>
          </tr>
          <tr>
            <th>Format</th>
            <td>
              <%= f.select(:format, PhysicalObject.formats, {}, disabled: true) %>
            </td>
          </tr>
<%# FIXME: add subformat %>
        </table>
      </div>
      <div id="technicalMetadatum">
        <%= render(:partial => tm_partial_path(@tm)) %>
      </div>
    </div>
    <%= render(partial: preload_partial_path(@tm), locals: { f: f }) %>
  <% end %>
</div>
