  <% content_for :context_menu do %>
    <div class="contextMenuItem">
      <%= link_to("Create New Physical Object", :action => 'new') %>
    </div>
    <div class="contextMenuItem">
      <%= link_to("Upload Spreadsheet", :action => 'upload_show') %>
    </div>
  <% end %>

  <h2>Physical Objects</h2> 
  <table class="po list" summary="Physical Object List">
    <tr class="header">
      <th>ID</th>
      <th>Memnon barcode</th>
      <th>IU barcode</th>
      <th>Shelf number</th>
      <th>Call number</th>
      <th>Format</th>
      <th>Actions</th>
    </tr>
    <% count = 0 %>
    <% @physical_objects.each do |po| %>
    <% if count.odd? %>
    <tr class='odd'>
    <%else%>
    <tr class='even'>
    <%end%>
      <td><%= po.id %></td>
      <td><%= po.memnon_barcode %></td>
      <td><%= po.iu_barcode %></td>
      <td><%= po.shelf_number %></td>
      <td><%= po.call_number %></td>
      <td><%= po.format %></td>
      <td>
        <%= link_to("Show", {:controller => 'physical_objects', :action => 'show', :id => po.id}, :class => 'action show') %>
        <%= link_to("Edit", {:controller => 'physical_objects', :action => 'edit', :id => po.id}, :class => 'action edit') %>
        <%= link_to("Split", {:controller => 'physical_objects', :action => 'split_show', :id => po.id}, :class => 'action split')%>
        <%= link_to("Delete", {:controller => 'physical_objects', :action => 'destroy', :id => po.id}, {:confirm=>'Are you sure you want to delete this Physical Object?'})%>
      </td>
    </tr>
    <% count += 1 %>
    <% end %>
  </table>

