<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Edit", {:controller => 'physical_objects', :action => 'edit', :id => @physical_object.id}, :class => 'action edit') %>
  </div>
  <div class="contextMenuItem">
  <%= link_to("Delete", physical_object_path(@physical_object.id), method: :delete, data: {:confirm=>'Are you sure you want to delete this Physical Object?'})%>
  </div>
  <div class="contextMenuItem">
    <% if @physical_object.bin.nil? && @physical_object.box.nil? %>
      <%= link_to("Split Record", {:controller => 'physical_objects', :action => 'split_show', :id => @physical_object.id}, :class => 'action split')%>
    <% else %>
      <strong><strike>Split Record</strong></strike>
    <% end %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Create New Physical Object", :action => 'new') %>
  </div>
  <div class="contextMenuItem">
    <%= link_to "View Workflow History", workflow_history_physical_object_path(@physical_object) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Edit Ephemera Status", {:controller => 'physical_objects', :action => 'edit_ephemera', :id => @physical_object.id}, :class => 'action edit') %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Digital Workflow", {:controller => 'digitization', :action => 'show', :id => @physical_object.id}, :class => 'action edit' ) %>
  </div>
<% end %>

<%= render partial: "physical_object_form" %>
