<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Upload Spreadsheet", upload_show_physical_objects_path) %>
  </div>
<% end %>
<div class="left">
	<% unless @spreadsheet.nil? || @spreadsheet.id.nil? %>
	  <p>
	    View uploaded spreadsheet: <%= link_to @spreadsheet.filename, @spreadsheet %>
	  </p>
	<% end %>
	<% unless @failed.nil? %>
		<p>The following Physical Objects failed import into the POD</p>
		<table>
			<tr>
				<th>Row</th>
				<th>Problem(s)</th>
			</tr>
			<% @failed.each do |pair| %>
				<tr>
					<td><%= pair[0] %></td>
					<td>
						<ul class='bad_upload'>
							<% pair[1].errors.full_messages.each do |msg| %>
								<li><%= pair[1].class.to_s.titleize %>: <%= msg %></li>
							<% end %>
						</ul>
					</td>
				</tr>
			<% end %>	
		</table>
	<% end %>
</div>
