<div class="left">
	<%= error_messages_for(f.object) %>
	<%# need to generate a unique id for use in the table and select %>
	<table class="digiprov">
	<%#= fields_for :digital_file_provenance do |f|%>
		<% if @edit_mode %>
		<tr>
			<td></td>
			<td>
				<%= f.link_to_remove("Delete Digital File", data: {confirm: 'Are you sure you want to delete this Digital File? The file will be deleted when you submit the form.'}) if policy(@dp).destroy? %>
			</td>
		</tr>
		<% end %>
		<tr>
			<th>Filename</th>
			<td>
				<%= f.text_field :filename, { class: "filename" } %>
			</td>
		</tr>
		<tr>
			<th>Date Digitized</th>
			<td>
				<%= f.text_field :display_date_digitized, readonly: !@edit_mode, class: "date" %>
			</td>
		</tr>
		<tr>
			<th>Comment</th>
			<td>
				<%= f.text_area :comment, cols: "37" %>
			</td>
		</tr>
		<tr>
			<th>Created By</th>
			<td>
				<%= f.text_field :created_by %>
			</td>
		</tr>
		<tr>
			<th>Speed Used</th>
			<td>
				<%= f.text_field :speed_used %>
			</td>
		</tr>
		<tr>
			<th>Signal Chain</th>
			<td>
				<% if @edit_mode %>
					<%= f.collection_select(:signal_chain_id, SignalChain.order('name'), :id, :name, {include_blank: true}, {disabled: !@edit_mode, class: "signal_chain_select"}) %>
				<% else %>
					<%= f.object.signal_chain ? f.object.signal_chain.name : "Not assigned" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Tape Fluxivity (nWb/m)</th>
			<td>
				<%= f.text_field :tape_fluxivity %>
			</td>
		</tr>
		<tr>
			<th>Volume Units</th>
			<td>
				<%= f.text_field :volume_units %>
			</td>
		</tr>
		<tr>
			<th>Analog Output Voltage (dBu)</th>
			<td>
				<%= f.text_field :analog_output_voltage %>
			</td>
		</tr>
		<tr>
			<th>Peak (dBfs)</th>
			<td>
				<%= f.text_field :peak %>
			</td>
		</tr>
		<script type="text/javascript">
			<% if @edit_mode %>
			$(function (){
				$('.date').datepicker();
				// remove the if check and just execute the contained code to rename all files based on sequence order
				// this will ALWAYS make files _01_, _02_, _03_, etc

				el = $('.filename').last();
				if ( el.val().length == 0) {
					bc = $("#barcode").first().text();
					seq = ("000" + ($('.filename').size())).slice(-2);
					v = "MDPI_"+bc+"_"+seq+"_pres.wav";
					el.val(v);
				}
			});
			<% end %>
			$(function() {
				$(".signal_chain_select").change(
					function() {
						signal_chain_id = $(this).val();
						table = $(this).parent().parent().parent().parent()
						$.ajax({
							url: "../../signal_chains/ajax_show/"+signal_chain_id,
							async: false,
							data: {},
							type: "GET",
							dataType : "text",
							success: function( text ) {
								bad = table.find(".signal_chain_tr");
								bad.remove();
								table.append(text);
							},
							error: function( xhr, status, errorThrown ) {
								alert("Oops! Html status: "+status)
							}
						})
					});
			});
		</script>
		<% @signal_chain = f.object.signal_chain %>
		<%= render 'signal_chains/ajax_show_signal_chain' %>
</table>
</div>
