<%= fields_for :dp do |f| %>
	<h2>Digital Provenance</h2>
	<table>
		<tr>
			<th>Digitizing Entity</th>
			<td>
				<% if @edit_mode %>
					<%= f.select(:digitizing_entity, @dp.digitizing_entity_values) %>
				<% else %>
					<%= f.text_field(:digitizing_entity, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Date Digitized</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:date, class: 'date', value: @dp.date.blank? ? "" : @dp.date.strftime("%m/%d/%Y")) %>
				<% else %>
					<%= f.text_field(:date, readonly: true, value: @dp.date.blank? ? "" : @dp.date.strftime("%m/%d/%Y")) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Comments</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_area(:comments) %>
				<% else %>
					<%= f.text_area(:comments, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Created By (operator)</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:created_by) %>
				<% else %>
					<%= f.text_field(:created_by, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Cleaning Date</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:cleaning_date, class: 'date',  value: @dp.cleaning_date.blank? ? "" : @dp.cleaning_date.strftime("%m/%d/%Y")) %>
				<% else %>
					<%= f.text_field(:cleaning_date, readonly: true, value: @dp.cleaning_date.blank? ? "" : @dp.cleaning_date.strftime("%m/%d/%Y")) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Cleaning Comment</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_area(:cleaning_comment) %>
				<% else %>
					<%= f.text_area(:cleaning_comment, readonly: true) %>
				<% end %>
			</td>

		</tr>
		<tr>
			<th>Player Serial Number</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:player_serial_number) %>
				<% else %>
					<%= f.text_field(:player_serial_number, readonly: true) %>
				<% end %>
			</td>

		</tr>
		<tr>
			<th>Player Manufacturer</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:player_manufacturer) %>
				<% else %>
					<%= f.text_field(:player_manufacturer, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Player Model</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:player_model) %>
				<% else %>
					<%= f.text_field(:player_model, readonly: true) %>
				<% end %>
			</td>

		</tr>
		<tr>
			<th>AD Serial Number</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:ad_serial_number) %>
				<% else %>
					<%= f.text_field(:ad_serial_number, readonly: true) %>
				<% end %>
			</td>

		</tr>
		<tr>
			<th>AD Manufacturer</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:ad_manufacturer) %>
				<% else %>
					<%= f.text_field(:ad_manufacturer, readonly: true) %>
				<% end %>
			</td>

		</tr>
		<tr>
			<th>AD Model</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:ad_model) %>
				<% else %>
					<%= f.text_field(:ad_model, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Baking Date</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:baking, class: 'date', value: @dp.baking.blank? ? "" : @dp.baking.strftime("%m/%d/%Y")) %>
				<% else %>
					<%= f.text_field(:baking, readonly: true, value: @dp.baking.blank? ? "" : @dp.baking.strftime("%m/%d/%Y")) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Repaired</th>
			<td>
				<% if @edit_mode %>
					<%= f.check_box(:repaired) %>
				<% else %>
					<%= f.check_box(:repaired, disabled: !@edit_mode) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Extraction Workstation</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:extraction_workstation) %>
				<% else %>
					<%= f.text_field(:extraction_workstation, readonly: true) %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Speed Used</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:speed_used) %>
				<% else %>
					<%= f.text_field(:speed_used, readonly: true) %>
				<% end %>
			</td>
		</tr>
	</table>
<% end %>
<script type='text/javascript'>
	$(function (){
		$('.date').datepicker();
	});
</script>