<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Cancel", {:action => 'show', :id => @physical_object.id}, :class => 'action edit') if policy(@physical_object).show? %>
  </div>
  <div class="contextMenuItem">
  	<%= link_to("Signal Chains", signal_chains_path) if policy(SignalChain).index?  %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Physical Object Metadata", {controller: 'physical_objects', action: 'show', id: @physical_object.id}) if policy(@physical_object).show? %>
  </div>
<% end %>
<h2>
  Physical object <b id="barcode"><%= @physical_object.mdpi_barcode %></b>
</h2>
<div>
  <div class="left half">
    Next object in bin:
    <% if @next_po %>
      <%= @next_po.call_number %> (<%= @next_po.mdpi_barcode %>)
      <%= link_to('Show', digital_provenance_path(@next_po.id)) %> |
      <%= link_to('Edit', edit_digital_provenance_path(@next_po.id)) %>
    <% else %>
      None
    <% end %>
  </div>
  <div class="left half">
    Next bin:
    <% if @next_bin %>
      <%= link_to("#{@next_bin.identifier} (#{@next_bin.mdpi_barcode})", bin_path(@next_bin)) %>
    <% else %>
      None
    <% end %>
  </div>
</div>
<%= error_messages_for(@dp) %>
<%= render(partial: 'digital_provenance/show_digital_provenance') %>
<%= render partial: "digital_statuses" %>
