<div class="left">
	<table>
	<tr>
		<th>Filename</th>
		<td>
			<%= f.text_field :filename %>
		</td>
	</tr>
	<%= fields_for :digital_file_provenance do |dfp|%>
		<tr>
			<th>Comment</th>
			<td>
				<%= dfp.text_area :comment %>
			</td>
		</tr>
		<tr>
			<th>Created By</th>
			<td>
				<%= dfp.text_field :create_by %>
			</td>
		</tr>
		<tr>
			<th>Player Serial Number</th>
			<td>
				<%= dfp.text_field :player_serial_number %>
			</td>
		</tr>
		<tr>
			<th>Player Manufacturer</th>
			<td>
					<%= dfp.text_field :player_manufacturer %>
			</td>
		</tr>
		<tr>
			<th>Player Model</th>
			<td>
				<%= dfp.text_field :player_model %>
			</td>
		</tr>
		<tr>
			<th>AD Serial Number</th>
			<td>
				<%= dfp.text_field :ad_serial_number %>
			</td>
		</tr>
		<tr>
			<th>AD Manufacturer</th>
			<td>
				<%= dfp.text_field :ad_manufacturer %>
			</td>
		</tr>
		<tr>
			<th>AD Model</th>
			<td>
				<%= dfp.text_field :ad_model %>
			</td>
		</tr>
		<tr>
			<th>Extraction Workstation</th>
			<td>
				<%= dfp.text_field :extraction_workstation %>
			</td>
		</tr>
		<tr>
			<th>Speed Used</th>
			<td>
				<%= dfp.text_field :speed_used %>
			</td>
		</tr>
	<% end %>
</table>
</div>