<div id="digi_status">
  <% unless @physical_object.digital_statuses.size <= 0 %>
    <h2>Digital Statuses</h2>
    <div>
      <%= @physical_object.mdpi_barcode %>'s digital files were received 
      <%= @physical_object.digital_start_readable %>.
      The object will <i>auto-accept</i> on <%= @physical_object.expires %> 
    </div>
    <table class="digi_status_table">
      <tr>
        <th>State</th>
        <th class="digi_status_date_col">Date</th>
        <th>Message</th>
      </tr>
      <% @physical_object.digital_statuses.order(created_at: :desc).each do |s| %>
        <tr>
          <td><%= s.state %></td>
          <td><%= s.created_at.strftime("%l:%M%P %B %-d, %Y") %></td>
          <td>
            <%= s.message %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>