<div class="left">
	<h2>Physical Object Digital Provenance</h2>
	<%= form_for(@dp, url: {controller: 'digitization', action: 'update'}) do |dp| %>
		<%= dp.submit "Update Digital Provenance" %>

			<table>
				<tr>
					<th>Comments</th>
					<td>
						<% if @edit_mode %>
							<%= dp.text_area(:comments) %>
						<% else %>
							<%= dp.text_area(:comments, readonly: true) %>
						<% end %>
					</td>
				</tr>
				<tr>
					<th>Cleaning Date</th>
					<td>
						<% if @edit_mode %>
							<%= dp.text_field(:cleaning_date, class: 'date',  value: @dp.cleaning_date.blank? ? "" : @dp.cleaning_date.strftime("%m/%d/%Y")) %>
						<% else %>
							<%= dp.text_field(:cleaning_date, readonly: true, value: @dp.cleaning_date.blank? ? "" : @dp.cleaning_date.strftime("%m/%d/%Y")) %>
						<% end %>
					</td>
				</tr>
				<tr>
					<th>Cleaning Comment</th>
					<td>
						<% if @edit_mode %>
							<%= dp.text_area(:cleaning_comment) %>
						<% else %>
							<%= dp.text_area(:cleaning_comment, readonly: true) %>
						<% end %>
					</td>

				</tr>
				<tr>
					<th>Baking Date</th>
					<td>
						<% if @edit_mode %>
							<%= dp.text_field(:baking, class: 'date', value: @dp.baking.blank? ? "" : @dp.baking.strftime("%m/%d/%Y")) %>
						<% else %>
							<%= dp.text_field(:baking, readonly: true, value: @dp.baking.blank? ? "" : @dp.baking.strftime("%m/%d/%Y")) %>
						<% end %>
					</td>
				</tr>
				<tr>
					<th>Repaired</th>
					<td>
						<% if @edit_mode %>
							<%= dp.check_box(:repaired) %>
						<% else %>
							<%= dp.check_box(:repaired, disabled: !@edit_mode) %>
						<% end %>
					</td>
				</tr>
			</table>

		<%# FIXME: kludge workaround for 1st link_to_add being broken, bug POD-648 %>
    <% dp.fields_for :workflow_statuses do |ws| %>
    <% end %>
    <% dp.link_to_add "WS", :workflow_statuses %>
    <%# end kludge %>

		<%= dp.fields_for :digital_files do |df| %>
			<%= render 'digitization/digital_files', f: df %>
		<% end %>
		<% if @edit_mode %>
			<%= pof.link_to_add "Add Digital File", :digital_files %>
		<% end %>

		<div id="technicalMetadatum" class="left">
	    <%= render(:partial => tm_partial_path(@tm)) %>
	  </div>
	<% end %>

	<script type='text/javascript'>
		$(function (){
			$('.date').datepicker();
		});
	</script>
</div>
