<%= error_messages_for(@signal_chain) %>
<%= nested_form_for(@signal_chain) do |f| %>
  <table>
    <tr>
      <th>Name</th>
      <td><%= @edit_mode ? f.text_field(:name) : @signal_chain.name %></td>
    </tr>
    <%# don't reveal studio in interface, yet %>
    <% if false %>
    <tr>
      <th>Studio</th>
      <td><%= f.select :studio, {}, {include_blank: 'Select a studio...'}, disabled: !@edit_mode %></td>
    </tr>
    <% end %>
    <% if !@edit_mode %>
      <tr>
        <th>Formats</th>
        <td><%= @signal_chain.formats.join(", ") %></td>
      </tr>
    <% end %>
  </table>
  <% if @edit_mode %>
    <div id="signal_chain_formats_div">
      <%= f.fields_for :signal_chain_formats do |signal_chain_format| %>
         <%= render 'signal_chain_format', f: signal_chain_format %>
      <% end %>
      <%= f.link_to_add "Add a format", :signal_chain_formats if policy(@signal_chain).edit? %>
    </div>
    <div class="actions">
      <%= f.submit(@submit_text) %>
    </div>
  <% end %>
<% end %>
