<%= form_for(@physical_object, url: {action: @action}) do |f| %>
  <div>
    Restrict search results to objects not on picklists: <%= select_tag :omit_picklisted, options_for_select([["No (include items on picklists)", false], ["Yes (exclude on picklists)", true]]) %>
  </div>
  <%= render(partial: 'physical_objects/metadata_fields_only', locals: { f: f }) %>

  <%= fields_for :tm do |tm_fields| %>
    <div id="technicalMetadatum" class="left">
      <%= render(:partial => 'technical_metadatum/show_blank_tm', :locals => { :f => tm_fields}) %>
    </div>
  <% end %>

  <%# add the submit and close off the form_for %>
  <div class="clear" ><%= submit_tag(@submit_text) %></div>
<% end %>