<%= form_for(:batch, :url => {:action => @action, :id => @batch.id}) do |f| %>
	<table>
		<tr>
			<th>Identifier</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:identifier) %>
				<% else %>
					<%= @batch.identifier %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:name) %>
				<% else %>
					<%= @batch.name %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>
				<% if @edit_mode %>
					<%= f.text_field(:description) %>
				<% else %>
					<%= @batch.description %>
				<% end %>
			</td>
		</tr>

		<%= render 'workflow_status_template/current_workflow_status', f: f, target_object: @batch %>


	</table>
	<%if @edit_mode or @action == 'destroy' %>
	  <div class="clear" ><%= submit_tag(@submit_text) %></div>
	<% end %>
<% end %>
