<%= form_for(:ps, url: {action: @action, id: @ps.id}) do |f| %>
	<div id="picklistSpec" class="left">
		<h2>Picklist Attributes</h2>
		<table>
			<tr>
				<th>Name</th>
				<td>
					<%= f.text_field(:name, :readonly => !@edit_mode) %>
				</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>
					<%= f.text_area(:description, :readonly => !@edit_mode) %>
				</td>
			</tr>
			<tr>
				<th>Format</th>
				<td>
					<%= f.text_field(:format, :readonly => true) %>
				</td>
			</tr>
		</table>
	</div>
	<div id="technicalMetadatum" class="left">
	  <%= f.fields_for @tm do |tm| %>
	    <%= render(:partial => "technical_metadatum/show_open_reel_tape_tm", :locals => {:f => tm}) %>
	  <% end %>
	</div>
	<div class="clear" >
	<% if @edit_mode %>
		<%= submit_tag(@submit_text) %>
	<% end %>
	</div>
<% end %>