<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Create Picklist", :action => 'new') %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("View Picklists", :action => 'index') %>
  </div>
<% end %>
<%= error_messages_for(@ps) %>
<%= form_for(@ps, :url => {:action => @action, :id => @ps.id}) do |f| %>
  <h2>Physical Objects Matching Spec <%= @ps.name %></h2> 
  <% if @physical_objects.nil? or @physical_objects.size == 0 %>
    <div>No matching Physical Objects</div>
  <% else %>
    <table class="po list">
      <tr class="header">
        <% @physical_objects[0].attributes.each do |name, value|%>
          <th><%= name.gsub("_", ' ').capitalize %></th>
        <% end %>
        <th>Add To Picklist</th>
      </tr>
      <% count = 1 %>
      <% @physical_objects.each do |po| %>
        <% if count.odd? %>
          <tr class='odd'>
        <%else%>
          <tr class='even'>
        <%end%>
        <% po.attributes.each do |name, value|%>
          <td><%= value.to_s[0, 20] %><% if value.to_s.length > 15 %>...<% end %></td>
        <% end %>
        <td>
          <%= check_box_tag 'po_ids[]', po.id %>
        </td>
      </tr>
      <% count += 1 %>
      <% end %>
    </table>
    
  <% end %>
  <%if @edit_mode %>
    <%= select('picklist', 'id', @picklists) %>
    <div class="clear" ><%= submit_tag(@submit_text) %></div>
  <% end %>
<% end %>
