<% if @mis.already_billed.size > 0 %>
	<h2>The following records have been previously billed in other spreadsheets </h2>
	<table>
		<tr>
			<th>MDPI Barcode</th>
			<th>Invoice Filename</th>
			<th>Date Successfully Billed</th>
		</tr>
		<% @mis.already_billed.each_with_index do |p, i| %>
			<tr class=<%= i.odd? ? "odd" : "even" %>>
				<td>
					<%= p[0]%>
				</td>
				<td>
					<%= p[1] %>
				</td>
				<td>
					<%= p[2].blank? ? "" : p[2].strftime("%m/%d/%Y %l:%M%P") %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>

<% if @mis.not_found.size > 0 %>
	<h2>The following MDPI bardcodes were not found in the POD</h2>
	<table>
		<% @mis.not_found.each_with_index do |p, i| %>
			<tr class=<%= i.odd? ? "odd" : "even" %>>
				<td>
					<%= p %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>

<% if @mis.not_on_sda.size > 0 %>
	<h2>The following MDPI bardcodes are not on SDA yet</h2>
	<table>
		<% @mis.not_on_sda.each_with_index do |p, i| %>
			<tr class=<%= i.odd? ? "odd" : "even" %>>
				<td>
					<%= p %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>

<% if @mis.preservation_file_copies.size > 0 %>
	<h2>The following Preservation Master files appear more than once in the invoice</h2>
	<table>
		<% @mis.preservation_file_copies.each_with_index do |f, i| %>
			<tr class=<%= i.odd? ? "odd" : "even" %>>
				<td>
					<%= f %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>
