<table>
	<tr>
		<th>MDPI Barcode</th>
		<th>Invoice Filename</th>
		<th>Date Successfully Billed</th>
	</tr>

<% if @already_billed.size > 0 %>
	<tr>
		<td colspan='3'>The following records have be billed previously in other spreadsheets</td>
	</tr>
	<% @already_billed.each_with_index do |p, i| %>
	<tr class=<%= i.odd? ? "odd" : "even" %>>
		<td>
			<%= p.mdpi_barcode %>
		</td>
		<td>
			<%= p.spread_sheet_filename %>
		</td>
		<td>
			<%= p.date_billed.strftime("%m/%d/%Y") %>
		</td>
	</tr>
	<% end %>
<% end %>

<% if @not_found.size > 0 %>
	<tr>
		<td colspan='3'>The following MDPI bardcodes were not found in the POD</td>
	</tr>
	<% @not_found.each_with_index do |p, i| %>
		<tr class=<%= i.odd? ? "odd" : "even" %>>
			<td>
				<%= p.mdpi_barcode %>
			</td>
		</tr>
	<% end %>
<% end %>

<% if @not_on_sda.size > 0 %>
	<tr>
		<td colspan='3'>The following MDPI bardcodes are not on SDA yet</td>
	</tr>
	<% @not_found.each_with_index do |p, i| %>
		<tr class=<%= i.odd? ? "odd" : "even" %>>
			<td>
				<%= p.mdpi_barcode %>
			</td>
		</tr>
	<% end %>
<% end %>
</table>