<div>
	<h2>Billing Validation</h2>
	<p>Use this page to submit an invoice for billing validation</p>
	<%= form_for(@file) do |f| %>
		<table>
			<tr>
				<td>
					<%= f.file_field :xls_file %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.submit "Upload Invoice" %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
<div>
	<h2>Previous Invoice Submissions</h2>
	<table>
		<tr>
			<th>Invoice Filename</th>
			<th>Submission Date</th>
		</tr>
		<% @submissions.each_with_index do |s, i| %>
			<tr class=<%= i.odd? ? "odd" : "even" %>>
				<td>
					<%= s.filename %>
				</td>
				<td>
					<%= s.submission_date.strftime("%m/%d/%Y") %>
				</td>
			</tr>
		<% end %>
	</table>
</div>