<%= error_messages_for(@user) %>
<%= form_for(@user) do |f| %>
  <table>
    <tr>
      <th>Name</th>
      <td>
        <% if @edit_mode %>
	  <%= f.text_field(:name) %>
	<% else %>
	  <%= @user.name %>
	<% end %>
      </td>
    </tr>
    <tr>
      <th>Username</th>
      <td>
        <% if @edit_mode %>
	  <%= f.text_field(:username) %>
	<% else %>
	  <%= @user.username %>
	<% end %>
      </td>
    </tr>
  </table>
  <h2>User Role</h2>
  <table>
    <tr>
      <th>Smart Team User</th>
      <%# kludge fix for CSS making tiny checkboxes %>
      <td style="min-width: 20px;">
        <%= f.check_box :smart_team_user %>
      </td>
    </tr>
    <tr>
      <th>Smart Team Admin</th>
      <td>
        <%= f.check_box :smart_team_admin %>
      </td>
    </tr>
    <tr>
      <th>QC User</th>
      <td>
        <%= f.check_box :qc_user %>
      </td>
    </tr>
    <tr>
      <th>QC Admin</th>
      <td>
        <%= f.check_box :qc_admin %>
      </td>
    </tr>
    <tr>
      <th>Web Admin</th>
      <td>
        <%= f.check_box :web_admin %>
      </td>
    </tr>
  </table>
  <% if @edit_mode %>
    <%= f.submit(@submit_text) %>
  <% end %>
<% end %>
