<table>
  <tr class="header">
    <th>Name</th>
    <th>Username</th>
    <th>ST</th>
    <th>STA</th>
    <th>QC</th>
    <th>QCA</th>
    <th>DEV</th>
    <th>Actions</th>
  </tr>
  <% count = 1 %>
  <% @users.each do |user| %>
    <tr class=<%= count.odd? ? 'odd' : 'even'%>>
      <td><%= user.name %></td>
      <td><%= user.username %></td>
      <td><%= user.smart_team_user? ? "&#9989".html_safe : ""%></td>
      <td><%= user.smart_team_admin? ? "&#9989".html_safe : ""%></td>
      <td><%= user.qc_user? ? "&#9989".html_safe : ""%></td>
      <td><%= user.qc_admin? ? "&#9989".html_safe : ""%></td>
      <td><%= user.web_admin? ? "&#9989".html_safe : ""%></td>
      <td>
        <%= link_to "Show", user_path(user) %>
        <%= link_to "Edit", edit_user_path(user) %>
        <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete this User?' } %>
      </td>
    </tr>
    <% count += 1 %>
  <% end %>
</table>
