<%= error_messages_for(@box) %>
<%= form_for(@box, :url => {action: @action, id: @box.id}) do |f| %>
  <table>
    <tr>
      <th>MDPI barcode</th>
      <td>
        <% if @edit_mode %>
          <%= f.text_field(:mdpi_barcode, readonly: !@edit_mode, class: "mdpi") %>
        <% else %>
          <%= @box.mdpi_barcode %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <% if @edit_mode %>
          <%= f.text_field(:description) %>
        <% else %>
          <%= @box.description %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Full?</th>
      <td>
        <% if @edit_mode %>
          <%= f.check_box(:full) %>
        <% else %>
          <input type="text" name="full" value=<%= @box.full? ? "true" : "false" %> readonly />
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Format</th>
      <td><%= @box.physical_objects.size.zero? ? "" : @box.physical_objects.first.format %></td>
    </tr>
    <tr>
      <th>Objects Count</th>
      <td><%= @box.physical_objects_count %>
    </tr>
    <tr>
      <th>Imported from spreadsheet</th>
      <td>
      <% if !@box.spreadsheet.nil? %>
        <%= link_to("#{@box.spreadsheet.filename}", @box.spreadsheet) if policy(@box.spreadsheet).show? %>
      <% end %>
      </td>
    </tr>
    <tr>
      <th>Assigned to Bin</th>
      <td>
        <% if @edit_mode and @box.full? %>
          <%= select(:box, :bin_id, @bins.any? ? @bins.collect{|b| [b.identifier, b.id]} : [], include_blank: 'Not Assigned') %>
        <% elsif @box.bin.nil? %>
          Not assigned
        <% elsif policy(@box.bin).show? %>
          <%= link_to(@box.bin.identifier, @box.bin) if policy(@box.bin).show? %>
        <% else %>
          <%= @box.bin.identifier %>
        <% end %>
      </td>
    </tr>
  </table>
  <% if @edit_mode %>
    <%= f.submit(@submit_text) %>
  <% end %>
<% end %>
