<div class="left">
  <table>
    <tr class="header">
      <th>MDPI barcode</th>
      <th>IU barcode</th>
      <th>Call Number</th>
      <th>Shelf Number</th>
      <th>Format</th>
      <th>Actions</th>
    </tr>
    <% count = 1 %>
    <% @physical_objects.each do |p| %>
      <tr class="#{count.odd? ? 'odd' : 'even'}">
        <td><%= p.mdpi_barcode  %></td>
        <td><%= p.iucat_barcode  %></td>
        <td><%= p.call_number  %></td>
        <td><%= p.shelf_location  %></td>
        <td><%= p.format  %></td>
        <td>
          <%= link_to("Remove", {action: 'remove_physical_object'}) %>
          <%= link_to("Show", {controller: 'physical_objects', action: 'show', id: p.id}) %>
        </td>
      </tr>
      <% count += 1 %>
    <% end %>
  </table>
</div>
