<% if @bin %>
<h2>Boxes in Bin <%= @bin.identifier %> [<%= @boxes.size %>]</h2>
<% else %>
<h2>Index filters and sort</h2>
<em>Unfiltered results are empty, by default.  To view all boxes, explicitly apply a set of empty filters.</em>
<%= form_tag(boxes_path, method: :get) do %>
  Filtering by bin assignment: <%= select_tag :assignment, options_for_select({'(No filter applied)' => 'all', 'Assigned' => 'assigned', 'Unassigned' => 'unassigned'}, params[:assignment]) %><br/>
  Filtering by format: <%= select_tag :tm_format, options_for_select(TechnicalMetadatumModule.box_formats, params[:tm_format]), { prompt: "(No filter applied)" } %><br/>
  Filtering by description: <%= text_field_tag :description, params[:description] %><br/>
  <%= submit_tag "Apply filters" %>
<% end %>
<h2><%= params[:assignment].to_s.capitalize %> <%= params[:description] %> <%= params[:tm_format] %> Boxes </h2>
<h4>Box/Physical Object Count: <%= @boxes.size %>/<%= @boxes.joins(:physical_objects).size %></h4>
<% end %>
Export current list to: <%= link_to 'Excel', boxes_path(params.symbolize_keys.merge({format: :xls})) %>
<%= render 'boxes_table' %>
