<table>
  <tr class="header">
    <th>MDPI Barcode</th>
    <th>Actions</th>
  </tr>
  <% count = 1 %>
  <% @boxes.each do |box| %>
    <tr class=<%= count.odd? ? 'odd' : 'even'%>>
      <td><%= box.mdpi_barcode %></td>
      <td>
        <%= link_to("Show", box_path(box)) %>
	<% unless @bin.nil? %>
        <%= link_to("Remove", action: 'remove_box', id: box.id, bin_id: @bin.id) %>
	<% end %>
        <%= link_to("Edit", edit_box_path(box)) %>
      </td>
    </tr>  
    <% count += 1 %>
  <% end %>
</table>
