<%= error_messages_for(@box) %>
<div id="box_div" class="left">
  <h2>Box</h2>
  <%= form_for(@box, :url => {action: @action, id: @box.id}) do |f| %>
    <table>
      <tr>
        <th>MDPI barcode</th>
        <td><%= @box.mdpi_barcode %></td>
      </tr>
      <tr>
        <th>Format</th>
	<td><%= @box.physical_objects.size.zero? ? "" : @box.physical_objects.first.format %></td>
      </tr>
      <tr>
        <th>Objects Count</th>
	<td><%= @box.physical_objects_count %></td>
      </tr>
      <tr>
        <th>Imported from Spreadsheet</th>
	<td>
	  <% if !@box.spreadsheet.nil? %>
	    <%= link_to("#{@box.spreadsheet.filename}", @box.spreadsheet) %>
	  <% end %>
	</td>
      </tr>
      <tr>
        <th>Assigned to Bin</th>
        <td>
          <% if @edit_mode %>
            <%= select(:box, :bin_id, @bins.collect{|b| [b.identifier, b.id]}, include_blank: 'Not Assigned') %>
          <% else %>
            <%= @box.bin.nil? ? 'Not Assigned' : link_to(@box.bin.identifier, @box.bin) %>
          <% end %>
        </td>
      </tr>
    </table>
    <% if @edit_mode %>
      <%= f.submit("Update Box") %>
    <% end %>
  <% end %>
  <% packed_status = @box.packed_status? %>
  <% if packed_status %>
    <div><%= Box.packed_status_message %></div>
  <% end %>
  <div>
    <h2>Pack This Box</h2>
    <%= form_for(@box, url: {controller: 'picklists', action: 'process_list', box_id: @box.id}) do |f| %>
      <table>
        <tr>
          <th>Select the picklist to pack this box from</th>
          <td>
            <%= select('picklist', 'id', @picklists, {}, disabled: packed_status) %>
          </td>
        </tr>
      </table>
      <%= f.submit("Pack Box", { disabled: packed_status }) %>
    <% end %>
  </div>
</div>

<div id="physical_objects" class="left">
  <h2>Physical Objects packed in this Box: <%= @box.physical_objects_count %></h2>
  <%= render 'physical_objects/physical_objects_table' %>
</div>
