<% content_for :context_menu do %>
        <div class="contextMenuItem">
          <%= link_to("Edit Box", {:action => 'edit', :id => @box.id}) %>
        </div>
        <div class="contextMenuItem">
          <%= link_to("Delete Box", @box, method: :delete, data: {:confirm=>'Are you sure you want to delete this Box?'})%>
        </div>
<% end %>

<div id="box_div" class="left">
  <h2>Box</h2>
  <%= render partial: "box" %>
  <% packed_status = @box.packed_status? %>
  <% if packed_status %>
    <div><%= Box.packed_status_message %></div>
  <% end %>
  <div>
    <h2>Pack This Box</h2>
    <%= form_for(@box, url: {controller: 'picklists', action: 'process_list', box_id: @box.id}) do |f| %>
      <table>
        <tr>
          <th>Select the picklist to pack this box from</th>
          <td>
            <%= select('picklist', 'id', @picklists, {}, disabled: packed_status) %>
          </td>
        </tr>
      </table>
      <%= f.submit("Pack Box", { disabled: packed_status }) %>
    <% end %>
  </div>
</div>

<div id="physical_objects" class="left">
  <h2>Physical Objects packed in this Box</h2>
  <%= render 'physical_objects/physical_objects_table' %>
</div>
