<%= render 'search/search_menu' %>

<div>
  <h2>Report Jobs</h2>

<table>
  <tr class="header">
      <th>Status</th>
      <th>Filename</th>
      <th>Size (MB)</th>
    <th>Actions</th>
  </tr>
  <% count = 0 %>
  <% @pod_reports.each do |pod_report| %>
    <% count += 1 %>
    <tr class=<%= count.odd? ? 'odd' : 'even'%>>
          <td><%= pod_report.status %></td>
          <td><% if pod_report.complete? %>
                <%= link_to(pod_report.filename, pod_report_path(pod_report, format: :xls)) %>
              <% else %>
                <%= pod_report.filename %>
              <% end %>
          </td>
          <td><%= pod_report.display_size %></td>
          <td><% if pod_report.complete? %>
                <%= link_to "Delete", pod_report, method: :delete, data: { confirm: 'Are you sure you want to delete this Pod Report?' } if policy(pod_report).destroy? %>
              <% end %>
          </td>
    </tr>
  <% end %>
</table>

</div>
