<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Create Picklist Specification", {action: 'new'}) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Create Picklist", {controller: 'picklist', action: 'new'}) %>
  </div>
<% end %>
<div class="left">
	<h2>Picklist Specifications</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
		<% count = 1 %>
		<% @picklist_specs.each do |p| %>
		  <% if count.odd? %>
		  	<tr class='odd'>
		  <%else%>
		  	<tr class='even'>
		  <%end%>
		    <td><%= p.name %></td>
		    <td><%= p.description %></td>
		    <td>
		      <%= link_to("Show", {action: 'show', id: p.id}) %>
		      <%= link_to("Edit", {action: 'edit', id: p.id}) %>
		      <%= link_to("Delete", {action: 'destroy', id: p.id}, {:confirm=>'Are you sure you want to delete this Picklist Specification?'}) %>
		      <%= link_to("Query", {action: 'query', id: p.id}) %>
		    </td>
		  </tr>
		<% count += 1 %>
		<% end %>
	</table>
</div>

<div class="left">
	<h2>Picklists</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
		<% count = 1 %>
		<% @picklists.each do |pl| %>
			<tr>
				<td><%= pl.name %></td>
				<td><%= pl.description[0,20] %><%= pl.description.length > 20 ? "..." : "" %></td>
				<td>
					<%= link_to("Show", {controller: 'picklist', action: 'show', id: pl.id}) %>
		      <%= link_to("Edit", {controller: 'picklist', action: 'edit', id: pl.id}) %>
		      <%= link_to("Delete", {controller: 'picklist', action: 'destroy', id: pl.id}, {:confirm=>'Are you sure you want to delete this Picklist?'}) %>
				</td> 
			</tr>
		<% end %>
	</table>
</div>