<%# the amount of text for the title to display in trucated mode %>
<% title_limit=42 %>
<table id="po_list">
  <tr class="header">
    <th>Physical Status</th>
    <th>Digital Status</th>
    <th>MDPI barcode</th>
    <th>Call number</th>
    <th>Title</th>
    <th>Format</th>
    <th>Actions</th>
  </tr>
  <% count = 1 %>
  <% unless @physical_objects.nil? %>
  <% @physical_objects.each do |po| %>
    <% css_class = "#{count.odd? ? 'odd' : 'even'}" %>
    <tr class='<%= css_class %>'>
     <td><%= po.display_workflow_status %></td>
     <td><%= po.digital_workflow_category&.titleize %></td>
     <td><%= po.mdpi_barcode %></td>
     <td><%= po.call_number %></td>
     <td title="<%= po.title.to_s.length <= title_limit ? "" : po.title %>"><%= po.title.to_s.length <= title_limit ? po.title : po.title[0,title_limit - 3] + '...'%></td>
     <td><%= po.format %></td>
     <td class="po_links">
      <%= link_to("Show", collection_owner_show_path(po.id), class: 'action show') if policy(:collection_owner).show? %>
    </td>
  </tr>
  <% count += 1 %>
  <% end %>
<% end %>
</table>
