<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Batch identifier</Data></Cell>
        <Cell><Data ss:Type="String">Batch status</Data></Cell>
        <Cell><Data ss:Type="String">Batch last updated</Data></Cell>
        <Cell><Data ss:Type="String">Bin barcode</Data></Cell>
        <Cell><Data ss:Type="String">Bin identifier</Data></Cell>
        <Cell><Data ss:Type="String">Bin status</Data></Cell>
        <Cell><Data ss:Type="String">Bin last updated</Data></Cell>
        <Cell><Data ss:Type="String">Box barcode</Data></Cell>
        <Cell><Data ss:Type="String">MDPI Barcode</Data></Cell>
        <Cell><Data ss:Type="String">Format</Data></Cell>
        <Cell><Data ss:Type="String">Has ephemera</Data></Cell>
        <Cell><Data ss:Type="String">Ephemera returned</Data></Cell>
        <Cell><Data ss:Type="String">Unit</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">Call Number</Data></Cell>
        <Cell><Data ss:Type="String">IUCAT Barcode</Data></Cell>
        <Cell><Data ss:Type="String">Year</Data></Cell>
        <Cell><Data ss:Type="String">Physical Status</Data></Cell>
        <Cell><Data ss:Type="String">Digital Status</Data></Cell>
        <Cell><Data ss:Type="String">Author</Data></Cell>
        <Cell><Data ss:Type="String">Title Control Number</Data></Cell>
        <Cell><Data ss:Type="String">Catalog Key</Data></Cell>
        <Cell><Data ss:Type="String">Home Location</Data></Cell>
        <Cell><Data ss:Type="String">OCLC</Data></Cell>
        <Cell><Data ss:Type="String">Collection Identifier</Data></Cell>
        <Cell><Data ss:Type="String">Collection Name</Data></Cell>
      </Row>
      <% @physical_objects.each do |po| %>
      <Row>
        <%# batch info %>
        <Cell><Data ss:Type="String"><%= po.container_batch&.identifier %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.container_batch&.workflow_status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.container_batch&.updated_at %></Data></Cell>
        <%# bin info %>
        <Cell><Data ss:Type="String"><%= po.container_bin&.mdpi_barcode %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.container_bin&.identifier %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.container_bin&.workflow_status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.container_bin&.updated_at %></Data></Cell>
        <%# box information %>
        <Cell><Data ss:Type="String"><%= po.box&.mdpi_barcode.to_s %></Data></Cell>
        <%# object info %>
        <Cell><Data ss:Type="String"><%= po.mdpi_barcode %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.format %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.has_ephemera?.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.ephemera_returned?.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.unit.abbreviation %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.call_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.iucat_barcode %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.year %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.workflow_status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.digital_workflow_category&.titleize %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.author %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.title_control_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.catalog_key %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.home_location %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.oclc_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.collection_identifier %></Data></Cell>
        <Cell><Data ss:Type="String"><%= po.collection_name %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
