<%= render partial: 'collection_owner_context_menu' %>
<table>
  <tr>
    <th>MDPI barcode</th>
    <td>
	    <%= @physical_object.mdpi_barcode %>
    </td>
  </tr>
  <tr>
    <th>Format</th>
    <td>
	    <%= @physical_object.format %>
    </td>
  </tr>
  <tr>
    <th>Has Ephemera</th>
    <td>
	    <input type='checkbox', disabled, <%= @physical_object.has_ephemera? ? 'checked' : ''%> />
    </td>
  </tr>
  <tr>
    <th>Ephemera returned</th>
    <td>
	    <input type='checkbox', disabled, <%= @physical_object.ephemera_returned? ? 'checked' : ''%> />
    </td>
  </tr>
  <tr>
    <th>Unit</th>
    <td>
	    <%= @physical_object.unit.name %>
    </td>
  </tr>
  <tr>
    <th>Title</th>
    <td>
	    <%= @physical_object.title %>
    </td>
  </tr>
  <tr>
    <th>Call Number</th>
    <td>
	    <%= @physical_object.call_number %>
    </td>
  </tr>
  <tr>
    <th>IUCAT Barcode</th>
    <td>
	    <%= @physical_object.iucat_barcode %>
    </td>
  </tr>
  <tr>
    <th>Year</th>
    <td>
	    <%= @physical_object.year %>
    </td>
  </tr>
  <tr>
    <th>Workflow Status</th>
    <td>

    </td>
  </tr>
  <tr>
    <th>Author</th>
    <td>
	    <%= @physical_object.author %>
    </td>
  </tr>
  <tr>
    <th>Title Control Number</th>
    <td>
	    <%= @physical_object.title_control_number %>
    </td>
  </tr>
  <tr>
    <th>Catalog Key</th>
    <td>
	    <%= @physical_object.catalog_key %>
    </td>
  </tr>
  <tr>
    <th>Home Location</th>
    <td>
	    <%= @physical_object.home_location %>
    </td>
  </tr>
  <tr>
    <th>OCLC</th>
    <td>
	    <%= @physical_object.oclc_number %>
    </td>
  </tr>
  <tr>
    <th>Collection Identifier</th>
    <td>
	    <%= @physical_object.collection_identifier %>
    </td>
  </tr>
  <tr>
    <th>Collection Name</th>
    <td>
	    <%= @physical_object.collection_name %>
    </td>
  </tr>
</table>
