<h2>Unpacking <i><%= @bin.identifier %></i></h2>

<div style="padding-bottom: 20px">
	<%= form_for(@bin, url: {controller: 'returns', action: 'bin_unpacked', id: @bin}) do |f| %>
		<table>
			<tr>
				<td>Mark Bin as Unpacked</td>
				<td><%= f.submit("Unpack Bin") %></td>
			</tr>
		</table>
	<% end %>
	<div>
	<%= form_for(@bin, url: physical_object_returned_return_path, html: {id: "return_form"}) do |f| %>
		<table class="center_inline">
			<tr>
				<td colspan="2"><div style="font-weight: bold; font-size: 120%">Scan a barcode to return the object</div></td>
			</tr>
			<tr>
				<td>
					<%= text_field_tag(:mdpi_barcode, nil) %>
				</td>
				<td>
					<%= f.submit("Unpack Physical Object") %>
				</td>
			</tr>
			<tr class="ephemera_form">
				<td colspan="2">This record has ephemera. Was it returned?</td>
			</tr>
			<tr class="ephemera_form">
			  <td>Yes</td>
			  <td>No</td>
			</tr>
		</table>
	<% end %>
	</div>
	<div>
		<div class="left" style="width: 48%">
			<h2>Items Shipped [<%= @shipped.size %>]</h2>
			<%= render "shipped_physical_objects_table" %> 
		</div>
		<div class="left" style="width: 48%">
			<h2>Items Returned [<%= @returned.size %>]</h2>
			<%= render "returned_physical_objects_table" %>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function () {
		// keypresses when the user types in a barcode
		$("#mdpi_barcode").bind("keyup", function() {
			validateMdpiBarcode($(this));
		});

		$("#return_form").submit(function(event) {
			event.preventDefault();
			event.returnValue = false;

			var barcode = $('#mdpi_barcode').val();
			var $form = $(this);
			var url = "../../physical_objects/has_ephemera?mdpi_barcode="+barcode;

			$.ajax({
				type: 'get',
				url: url,
				context: $form, // context will be "this" in your handlers
				success: function(data) { // your success handler
					if (data == "false") {
						//turn of the event intercetion and submit the form
						this.off('submit');
						this.submit();
					} else if(data == "true") {
						//physical object has ephemera - cancel form submission, and reveal return with/without ephemera form
						alert("I should be revealing more form options");
					} else {
						alert("Unknown MDPI barcode...");
					}
				},
				error: function() { // your error handler

				},
				complete: function() {

				}
			});
		});

	});
</script>

