<h2>Unpacking <i><%= @bin.identifier %></i></h2>

<div style="padding-bottom: 20px">
	<%= form_for(@bin, url: {controller: 'returns', action: 'bin_unpacked', id: @bin}) do |f| %>
		<table>
			<tr>
				<td>Mark Bin as Unpacked</td>
				<td><%= f.submit("Unpack Bin") %></td>
			</tr>
		</table>
	<% end %>
	<div>
		<%= form_for(@bin, remote: true, html: {id: "barcode_check"}) do |f| %>
			<table class="center_inline">
				<tr>
					<td colspan="2"><div style="font-weight: bold; font-size: 120%">Scan a barcode to return the object</div></td>
				</tr>
				<tr>
					<td>
						<%= text_field_tag(:mdpi_barcode_check, nil) %>
					</td>
					<td>
						<%= f.submit("Unpack Physical Object") %>
					</td>
				</tr>
				<tr class="ephemera_form">
					<td colspan="2">This record has ephemera. Was it returned?</td>
				</tr>
				<tr class="ephemera_form">
				  <td>Yes</td>
				  <td>No</td>
				</tr>
			</table>
		<% end %>
	</div>
	<div>
		<div class="left" style="width: 48%">
			<h2>Items Shipped [<%= @shipped.size %>]</h2>
			<%= render "shipped_physical_objects_table" %> 
		</div>
		<div class="left" style="width: 48%">
			<h2>Items Returned [<%= @returned.size %>]</h2>
			<%= render "returned_physical_objects_table" %>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function () {
		// keypresses when the user types in a barcode
		$("#mdpi_barcode_check").bind("keyup", function() {
			validateMdpiBarcode($(this));
		})
		// when a barcode is pasted (or scanned), change event fires so handle both the barcode validation
		// as well as automating the form submission
		$("#mdpi_barcode_check").bind("paste", function() {
			var _this = $(this);
			setTimeout( function() {
				validateMdpiBarcode(_this);
				var success = true;
				var has_ephemera = false;
				var url = "../../physical_objects/has_ephemera?mdpi_barcode="+_this.val();
				$.get(url, function(data, status){
					if (status == 'success') {
						if (data == "false" && isValidBarcode(_this.val())) {
							$("#barcode_check").submit();
						} else {

						}
					} else {
						success = false;
					}
				});
			}, 100);
		});
		//$("#mdpi_barcode_check").focus();
	});
</script>

