<h2>Returning Bins For Batch <i><%= @batch.identifier%></i></h2>
<div>
<p>
The batch can be given a status of Complete after all bins have been unpacked.
<%= button_to "Mark Batch Complete", batch_complete_return_path(@batch.id), method: :patch, disabled: @batch.bins.where("workflow_status != ?", "Unpacked").any? %>
</p>
</div>
<div class="left">
	<table>
		<thead>
			<tr>
				<th>Bin Identifier</th>
				<th>Current Status</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			<% @bins.each_with_index do |bin, index| %>
				<tr>
					<td>
						<%= bin.identifier %>
					</td>
					<td>
						<%= bin.current_workflow_status %>
					</td>
					<td>
						<%= link_to("Show", bin_path(bin)) if policy(bin).show? %><br/>
						<% if bin.current_workflow_status == "Batched" %>

							<%= link_to("Unload bin from batch", unload_bin_return_path(bin), method: :patch) if policy(:return).unload_bin? %>
						<% elsif bin.current_workflow_status == "Returned to Staging Area" %>
							<%= link_to("Unpack bin contents", return_bin_return_path(bin)) if policy(:return).return_bin? %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
