<h2>Unpacking <i><%= @bin.identifier %></i></h2>

<div style="padding-bottom: 20px">
	<%= form_for(@bin, url: {controller: 'returns', action: 'physical_object_returned', id: @bin}) do |f| %>
		<table>
			<tr>
				<td>Scan a barcode to return the object</td>
				<td>
					<%= text_field_tag(:mdpi_barcode, nil, {maxlength: "14", size: "14", class: "mdpi"}) %>
				</td>
				<td>
					<%= f.submit("Unpack") %>
				</td>
			</tr>
		</table>
	<% end %>
	<%= form_for(@bin, url: {controller: 'returns', action: 'bin_unpacked', id: @bin}) do |f| %>
		<table>
			<tr>
				<td>Mark Bin as Unpacked</td>
				<td><%= f.submit("Unpacked") %></td>
			</tr>
		</table>
	<% end %>
</div>

<div>
	<div class="left" style="width: 45%">
		<h2>Items Shipped [<%= @shipped.size %>]</h2>
		<%= render "shipped_physical_objects_table" %> 
	</div>
	<div class="left">
		<h2>Items Returned [<%= @returned.size %>]</h2>
		<%= render "returned_physical_objects_table" %>
	</div>
</div>