<tr class='<%= index.odd? ? "odd" : "even" %>'>
	<td>
		<span class="mdpi_red">Sound Field: </span>
		<%= tm.sound_field %>
	</td>
	<td>
		<span class="mdpi_red">Equalization: </span>
		<%= tm.equalization %>
	</td>
	<td colspan="2">
		<span class="mdpi_red">Year: </span>
		<%= p.year %>
	</td>
</tr>
<tr class='<%= index.odd? ? "odd" : "even" %>'>
	<td colspan="2">
		<span class="mdpi_red">Damage: </span>
		<%= tm.humanize_boolean_fields(*tm.class.const_get(:DAMAGE_FIELDS)) %>
	</td>
	<td colspan="2">
		<span class="mdpi_red">Preservation problems: </span>
		<%= tm.humanize_boolean_fields(*tm.class.const_get(:PRESERVATION_PROBLEM_FIELDS)) %>
	</td>
</tr>
