<% content_for :context_menu do %>
  <div class="contextMenuItem">
	  <%= form_for(@picklist, url: pack_list_picklist_path(@picklist, bin_id: @bin ? @bin.id : nil, box_id: @box ? @box.id : nil)) do |f| %>
			<% if @physical_object %>
				<%= hidden_field_tag "physical_object[id]", @physical_object.id %>
			<% end %>
			<% if @bin %>
				<%= hidden_field_tag "bin_id", @bin.id %>
			<% end %>
			<% if @box %>
				<%= hidden_field_tag "box_id", @box.id %>
			<% end %>
			Search Call Number: <%= text_field_tag('call_number') %>
			<%= f.submit "Search", name: 'search_button' %>
	  <% end %>
  </div>
  <div class="contextMenuItem">
    <%= render partial: "physical_objects/split_form" %>
  </div>
<% end %>

<div id="pl_container_div">
	<% if @bin %>
		<%= form_for(@bin, url: seal_bin_path(@bin)) do |f| %>
			<%= f.submit("Mark Bin as Sealed") %>
		<% end %>
	<% else %>
	<% end %>
	<% if (@box or @bin) %>
		<h2>Packing <%= @box ? "Box" : "Bin" %> <i><%= @box ? @box.mdpi_barcode : @bin.identifier %></i> From Picklist <i><%= @picklist.name %></i></h2>
	<% else %>
		<h2>Manually Associating Items From Pick List <i><%= @picklist.name %></i></h2>
	<% end %>
</div>
<% if @physical_object %>
	<% @tm ||= @physical_object.technical_metadatum.as_technical_metadatum %>
	<%= error_messages_for(@physical_object) %>
	<%= error_messages_for(@tm) %>
	<%= nested_form_for(@physical_object, url: pack_list_picklist_path(@picklist.id, bin_id: @bin ? @bin.id : nil, box_id: @box ? @box.id : nil)) do |f| %>
		<% if @physical_object %>
			<%= hidden_field_tag "physical_object[id]", @physical_object.id %>
		<% end %>
		<% if @bin %>
			<%= hidden_field_tag "bin_id", @bin.id %>
		<% end %>
		<% if @box %>
			<%= hidden_field_tag "box_id", @box.id %>
		<% end %>
		<div >
			<%= f.submit (@wrap_previous_packable ? "*||" : "") + "< Unpacked", name: "previous_unpacked_button", disabled: @previous_packable_physical_object.nil?, title: "Previous unpacked item" + (@wrap_previous_packable ? " (wrapping)" : "") %>
			<%= f.submit (@wrap_previous ? "*||" : "") + "<", name: "previous_button", disabled: @previous_physical_object.nil?, title: "Previous item" + (@wrap_previous ? " (wrapping)" : "") %>
			<% if @physical_object.bin or @physical_object.box %>
				<%= f.submit "Unpack", name: "unpack_button" %>
			<% else %>
				<%= f.submit "Pack", name: "pack_button" %>
			<% end %>
			<%= f.submit ">" + (@wrap_next ? "||*" : ""), name: "next_button", disabled: @next_physical_object.nil?, title: "Next item" + (@wrap_next ? " (wrapping)" : "") %>
			<%= f.submit "Unpacked >" + (@wrap_next_packable ? "||*" : ""), name: "next_unpacked_button", disabled: @next_packable_physical_object.nil?, title: "Next unpacked item" + (@wrap_next_packable ? " (wrapping)" : "") %>

			<%= hidden_field_tag "repeat", @repeat %>
		</div>
		<table>
  	  <tr>
  	    <th colspan="2">Assignment</th>
  	  </tr>
  	  <% if (@bin && !@box) or (!@bin && !@box) %>
	      <tr>
	        <th>Bin</th>
	        <td>
	          <%= text_field_tag "bin_mdpi_barcode", (@bin ? @bin.mdpi_barcode : "" ),class: "mdpi" %>
	        </td>
	      </tr>
			<% end %>
			<% if (@box && !@bin) or (!@bin && !@box) %>
	      <tr>
	        <th>Box</th>
	        <td>
	          <%= text_field_tag "box_mdpi_barcode", (@box ? @box.mdpi_barcode : ""), class: "mdpi" %>
	        </td>
	      </tr>
	     <% end %>
     </table>
	  <%= render(partial: 'physical_objects/physical_object_metadata_fields', locals: {f: f}) %>
	<% end %>
<% elsif @picklist.physical_objects.any? %>
  All physical objects on this picklist have been packed.
<% else %>
  There are physical objects assigned to this picklist.
<% end %>
