<% if @box %>
	<h2>Packing Box <i><%= @box.mdpi_barcode %></i> With Items From Pick List <i><%= @picklist.name %></i></h2>
<% elsif @bin %>
	<h2>Packing Bin <i><%= @bin.indentifier %></i> With Items From Pick List <i><%= @picklist.name %></i></h2>
<% else %>
	<h2>Manually Associating Items From Pick List <i><%= @picklist.name %></i></h2>
<% end %>
<%= render(partial: 'picklist_table') %>