<%% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%%= link_to "Edit", edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) if policy(@<%= singular_table_name %>).edit?%>
  </div>
  <div class="contextMenuItem">
  <%%= link_to "Delete", <%= singular_table_name %>_path(@<%= singular_table_name %>), method: :delete, data: { confirm: 'Are you sure you want to delete this <%= singular_table_name.titleize.downcase.camelize %>?' } if policy(@<%= singular_table_name %>).destroy?%>
  </div>
  <div class="contextMenuItem">
    <%%= link_to "<%= plural_table_name.titleize.downcase.camelize %> Index", <%= index_helper %>_path if policy(<%= singular_table_name.titleize %>).index? %>
  </div>
<%% end %>

<%%= render partial: 'form' %>
