<table>
	<tr>
		<th>Batch Identifier</th>
		<th>Format</th>
		<th>Description</th>
		<th>Destination</th>
		<th>Objects Count</th>
		<th>Current Status</th>
		<th>Auto Accept</th>
		<th>Actions</th>
	</tr>
	<% count = 1 %>
	<% @batches.each do |b| %>
		<tr class=<%= count.odd? ? "odd" : "even" %> >
			<td><%= b.identifier %></td>
			<td><%= b.format %></td>
			<td><%= b.description %></td>
			<td><%= b.destination %></td>
			<td><%= b.physical_objects_count %></td>
			<td>
        <%= b.current_workflow_status %>
        <% if b.current_workflow_status == "Interim Storage" %>
          <br/>
          <% auto_accept = b.auto_accept(true) %>
          <% if auto_accept %>
            <em class="<%= auto_accept < Time.now ? 'red' : 'green' %>">(<%= auto_accept.strftime("%B %-d %Y") %>)</em>
          <% else %>
            <em>(Digitization not started)</em>
          <% end %>
        <% end %>
      </td>
      <% if @digitization_start && (@auto_accept < Time.now) %>
		    <td class="green">
		  <% else %>
		    <td class="red">
		  <% end %>
		  <%= @digitization_start ? @digitization_start.strftime("%B %-d, %Y") : "Digitization Not Started" %>
      </td>
			<td>
				<%= link_to("Show", {controller: 'batches',:action => 'show', :id => b.id}, :class => 'action show') if policy(b).show? %>
		    <%= link_to("Edit", {controller: 'batches', :action => 'edit', :id => b.id}, :class => 'action edit') if policy(b).edit? %>
		    <%= link_to("Delete", batch_path(b.id), method: :delete, data: {confirm: 'Are you sure you want to delete this Batch?'}) if policy(b).destroy? %>
			</td>
		</tr>
	<% end %>
</table>
