<table>
	<tr>
		<th>Batch Identifier</th>
		<th>Name</th>
		<th>Description</th>
		<th>Objects Count</th>
		<th>Current Status</th>
		<th>Actions</th>
	</tr>
	<% count = 1 %>
	<% @batches.each do |b| %>
		<tr class=<%= count.odd? ? "odd" : "even" %> >
			<td><%= b.identifier %></td>
			<td><%= b.name %></td>
			<td><%= b.description %></td>
			<td><%= b.physical_objects_count %></td>
			<td><%= b.current_workflow_status ? b.current_workflow_status.name : "" %></td>
			<td>
				<%= link_to("Show", {controller: 'batches',:action => 'show', :id => b.id}, :class => 'action show') %>
		    <%= link_to("Edit", {controller: 'batches', :action => 'edit', :id => b.id}, :class => 'action edit') %>
		    <%= link_to("Delete", batch_path(b.id), method: :delete, data: {confirm: 'Are you sure you want to delete this Batch?'}) %>
			</td>
		</tr>
	<% end %>
</table>
