<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% @media_format = @batch.media_format %>
      <% @media_genre = TechnicalMetadatumModule::TM_GENRES[@media_format] %>
      <% @column_names = ["Object Barcode", "Batch number", "Batch description", "Format", "Unit", "IU Object ID - Call number", "IU Object ID - Catalog barcode", "IU Collection ID", "Title", "Carrier Stream Index", "Container barcode", "Container name", "Container description", "Physical Condition – Damage", "Physical Condition - Preservation Problems", "Number of preservation masters expected", "Output file-name prefix"]%>
      <% if @media_genre == :audio %>
        <% @column_names += ["Embedded file info - Bext Chunk - Description", "Embedded file info - Info List - ICMT", "Embedded file info - Info List - IARL"] %>
      <% end %>
      <% if @media_format == "CD-R" %>
        <% @column_names += ["Box barcode"] %>
      <% elsif @media_format == "DAT" %>
        <% @column_names += ["Box barcode", "Sample rate", "Cassette length"] %>
      <% elsif @media_format == "Open Reel Tape" %>
        <% @column_names += ["Year", "Tape base", "Reel size", "Track configuration", "Sound field", "Playback speed", "Tape thickness", "Tape stock brand", "Directions recorded"] %>
      <% end %>
      <Row>
      <% @column_names.each do |column_name| %>
        <Cell><Data ss:Type="String"><%= column_name %></Data></Cell>
      <% end %>
      </Row>
      <% if @bins.any? %>
        <% @bins.each do |bin| %>
          <%# LOOP THROUGH BOXES FIRST %>
          <% bin.boxes.each do |box| %>
            <% box.physical_objects.each do |po| %>
              <Row>
                <Cell><Data ss:Type="String"><%= po.mdpi_barcode %></Data></Cell>
              </Row>
            <% end %>
          <% end %>
          <%# LIST UNBOXED ITEMS LAST %>
          <% bin.physical_objects.each do |po| %>
	    <% tm = po.technical_metadatum.as_technical_metadatum %>
            <Row>
            <%# mdpi barcode %>
              <Cell><Data ss:Type="String"><%= po.mdpi_barcode %></Data></Cell>
            <%# batch info %>
              <Cell><Data ss:Type="String"><%= @batch.identifier %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= @batch.description %></Data></Cell>
            <%# some object info %>
	      <Cell><Data ss:Type="String"><%= po.format %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.unit.spreadsheet_descriptor %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.call_number %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.iucat_barcode %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.collection_identifier %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.title %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.carrier_stream_index %></Data></Cell>
            <%# bin info %>
	      <Cell><Data ss:Type="String"><%= bin.mdpi_barcode %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= bin.identifier %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= bin.description %></Data></Cell>
            <%# more object info %>
	      <% if @media_format == "CD-R" %>
	        <Cell><Data ss:Type="String"><%= tm.damage %></Data></Cell>
	      <% else %>
	        <Cell><Data ss:Type="String"><%= "" %></Data></Cell>
	      <% end %>
	      <Cell><Data ss:Type="String"><%= tm.preservation_problems %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= "FIXME: MASTERS" %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.file_prefix %></Data></Cell>
	    <%# audio objects %>
	    <% if @media_genre == :audio %>
	      <Cell><Data ss:Type="String"><%= po.file_bext %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.file_icmt %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.file_iarl %></Data></Cell>
	    <% end %>
	    <% if @media_format == "CD-R" %>
	    <%# metadata-specific: CD-R %>
	    <% elsif @media_format == "DAT"%>
	    <%# metadata-specific: DAT %>
	      <%# FIXME %>
	      <Cell><Data ss:Type="String"><%= tm.sample_rates %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	    <% elsif @media_format == "Open Reel Tape" %>
	    <%# metadata-specific: ORT %>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= tm.format_duration %></Data></Cell>
	    <% end %>
	    <%# metadata-specific: ??? %>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
