<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% @column_names = ["Object Barcode", "Batch number", "Batch description", "Format", "Unit", "IU Object ID - Call number", "IU Object ID - Catalog barcode", "IU Collection ID", "Title"]%>
      <Row>
      <% @column_names.each do |column_name| %>
        <Cell><Data ss:Type="String"><%= column_name %></Data></Cell>
      <% end %>
      </Row>
      <% if @bins.any? %>
        <% @po_columns = ["mdpi_barcode", "title"] %>
        <% @spoofed_columns = { "mdpi_barcode" => "Object Barcode", "call_number" => "IU Object ID – Call number", "iucat_barcode" => "IU Object ID – Catalog barcode", "collection_identifier" => "IU Collection ID", "format_duration" => "Cassette length" } %>
        <% @bins.each do |bin| %>
          <%# LOOP THROUGH BOXES FIRST %>
          <% bin.boxes.each do |box| %>
            <% box.physical_objects.each do |po| %>
              <Row>
                <Cell><Data ss:Type="String"><%= po.mdpi_barcode %></Data></Cell>
              </Row>
            <% end %>
          <% end %>
          <%# LIST UNBOXED ITEMS LAST %>
          <% bin.physical_objects.each do |po| %>
            <Row>
            <%# mdpi barcode %>
              <Cell><Data ss:Type="String"><%= po.mdpi_barcode %></Data></Cell>
            <%# batch info %>
              <Cell><Data ss:Type="String"><%= @batch.identifier %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= @batch.description %></Data></Cell>
            <%# some object info %>
	      <Cell><Data ss:Type="String"><%= po.format %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.unit.spreadsheet_descriptor %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.call_number %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.iucat_barcode %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.collection_identifier %></Data></Cell>
	      <Cell><Data ss:Type="String"><%= po.title %></Data></Cell>
            <%# bin info %>
            <%# more object info %>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
