<% content_for :context_menu do %>
  <div class="contextMenuItem">
	  <%= link_to("Create Batch", {:action => 'new'}) %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to("Edit Batch", {:action => 'edit', :id => @batch.id}) %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to("Delete Batch", batch_path(@batch.id), method: :delete, data: {confirm: 'Are you sure you want to delete this Batch?'}) %>
	</div>
<% end %>
<div class='left'>
	<div id="batch_div">
	  <h2>Batch</h2>
	    Shipping Manifest: <%= link_to 'Excel File', batch_path(id: 'batch_' + @batch.id.to_s, format: :xls) %>
	    <% @edit_mode = false %>
	    <%= render(:partial => "batch") %>
	</div>
	<div id="bins_div">
	   <h2>Bins in this Batch: <%= @batch.bins.size %></h2>
	   <%= render 'bins/bins_table' %>
	</div>
</div>
<div class='left'>
	<h2>Available Bins: <%= @available_bins.size %></h2>
	<%= form_for(@batch, url: {action: 'add_bin'}) do |f| %>
		<table>
			<thead>
				<tr class="header">
			    <th>MDPI barcode</th>
			    <th>Identifier</th>
			    <th>Description</th>
			    <th>Add</th>
			  </tr>
			 </thead>
			 <tbody>
			 	<% @available_bins.each do |b| %>
					<tr>
						<td>
							<%= b.mdpi_barcode %>
						</td>
						<td>
							<%= b.identifier %>
						</td>
						<td>
							<%= b.description %>
						</td>
						<td>
							<%= check_box_tag 'bin_ids[]', b.id %>
						</td>
					</tr>
			 	<% end %>
			 </tbody>
		</table>
		<%= f.submit("Add selected bins to #{@batch.identifier}") %>
	<% end %>
</div>
