<table>
  <tr class="header">
      <th>Abbreviation</th>
      <th>Name</th>
      <th>Institution</th>
      <th>Campus</th>
    <th>Actions</th>
  </tr>
  <% count = 0 %>
  <% @units.each do |unit| %>
    <% count += 1 %>
    <tr class=<%= count.odd? ? 'odd' : 'even'%>>
          <td><%= unit.abbreviation %></td>
          <td><%= unit.name %></td>
          <td><%= unit.institution %></td>
          <td><%= unit.campus %></td>
          <td>
        <%= link_to "Show", unit if policy(unit).show? %>
        <%= link_to "Edit", edit_unit_path(unit) if policy(unit).edit? %>
        <%= link_to "Delete", unit, method: :delete, data: { confirm: 'Are you sure you want to delete this Unit?' } if policy(unit).destroy? %>
      </td>
    </tr>
  <% end %>
</table>
