<table class="status full_width">
	<tr>
		<th>Digitization Start</th>
		<th>Unit</th>
		<th>MDPI Barcode</th>
		<th>Title</th>
		<th>Format</th>
		<th><%= choice_header %></th>
	</tr>
	<% physical_objects.each_with_index do |p, i| %>
		<% # ci begins at 0 so flip the odd/even css class %>
		<% if i.odd? %>
			<tr class="even">
		<% else %>
			<tr class="odd">
		<% end %>
			<td><%= p.digital_start_readable %></td>
			<td><%= p.unit.abbreviation %></td>
			<td><%= link_to("#{p.mdpi_barcode}", physical_object_path(p.id), target: "_blank") %></td>
			<td><%=	p.title %></td>
			<td><%= p.format %></td>
			<td>
				<% if choice_header =='Choice' %>
					<%= render "decision_form", p: p %>
				<% elsif choice_header=='Stage' or choice_header == 'Unstage' %>
					<%= render "staging_form", p: p %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
