<%= render 'context_menu' %>
<%= form_tag url_for(:controller => 'quality_control', :action => 'staging_index') do %>
	Date
	<%= text_field_tag :date, params[:date] %>
	<%= submit_tag "Filter Unstaged On Date" %>
<% end %>
<script type='text/javascript'>
	$(function (){
		$('#date').datepicker();
	});
</script>
<div >
	<h2>Unstaged Physical Objects for <%= @date.strftime("%m/%d/%Y") %> </h2>	
	<button typ="button" onclick="uncheck()">Uncheck Selected</button>
	<%= form_tag quality_control_staging_post_path_path do %>
		<%= submit_tag "Stage Selected Objects" %>
		<% @format_to_physical_objects.keys.each do |key| %>
			<h2><%= key %> [<%= @format_to_physical_objects[key].size %> items]</h2>
			<%= render 'physical_objects_list', physical_objects: @format_to_physical_objects[key], choice_header: "Stage" %>	
		<% end %>
	<% end %>
</div>
<script type="text/javascript">
function uncheck() {
	$("input:checkbox").prop('checked', false);
}
</script>
