<%= error_messages_for(@machine) %>
<%= nested_form_for(@machine) do |f| %>
  <table>
  <tr>
    <th>Category</th>
    <td><%= @edit_mode ? f.text_field(:category) : @machine.category %></td>
  </tr>
  <tr>
    <th>Serial</th>
    <td><%= @edit_mode ? f.text_field(:serial) : @machine.serial %></td>
  </tr>
  <tr>
    <th>Manufacturer</th>
    <td><%= @edit_mode ? f.text_field(:manufacturer) : @machine.manufacturer %></td>
  </tr>
  <tr>
    <th>Model</th>
    <td><%= @edit_mode ? f.text_field(:model) : @machine.model %></td>
  </tr>
  <% if !@edit_mode %>
    <tr>
      <th>Formats</th>
      <td><%= @machine.formats.join(", ") %></td>
    </tr>
  <% end %>
  </table>
  <% if @edit_mode %>
    <div id="machine_formats_div">
      <%= f.fields_for :machine_formats do |machine_format| %>
         <%= render 'machine_format', f: machine_format %>
      <% end %>
      <%= f.link_to_add "Add a format", :machine_formats if policy(@machine).edit? %>
    </div>
    <%= f.submit(@submit_text) %>
  <% end %>
<% end %>
