<table>
  <tr class="header">
    <th>Category</th>
    <th>Serial</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Formats</th>
    <th>Actions</th>
  </tr>
  <% count = 0 %>
  <% @machines.each do |machine| %>
    <% count += 1 %>
    <tr class=<%= count.odd? ? 'odd' : 'even'%>>
      <td><%= machine.category %></td>
      <td><%= machine.serial %></td>
      <td><%= machine.manufacturer %></td>
      <td><%= machine.model %></td>
      <td><%= machine.formats.join(', ') %></td>
      <td>
        <%= link_to "Show", machine_path(machine) if policy(machine).show? %>
        <%= link_to "Edit", edit_machine_path(machine) if policy(machine).edit? %>
        <%= link_to "Delete", machine_path(machine), method: :delete, data: { confirm: 'Are you sure you want to delete this Machine?' } if policy(machine).destroy? %>
      </td>
    </tr>
  <% end %>
</table>

