<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("View Imported Spreadsheets", spreadsheets_path) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Edit Spreadsheet", {:action => 'edit', :id => @spreadsheet.id}) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Delete Spreadsheet", @spreadsheet, method: :delete, data: {:confirm=>'Are you sure you want to delete this Spreadsheet?  This will delete all associated physical objects, bins, and boxes.'})%>
  </div>
<% end %>

<%= error_messages_for(@spreadsheet) %>

<div id="spreadsheet_div" class="left">
  <h2>Spreadsheet</h2>
  <%= render 'spreadsheet' %>
</div>


<div class="left">
  <h2>Physical Objects uploaded via this spreadsheet: <%= @physical_objects.size %></h2>
  <%= render 'physical_objects/physical_objects_table' %>
</div>
<div class="left">
  <h2>Bins created via this spreadsheet: <%= @bins.size %></h2>
  <%= render 'bins/bins_table' %>
</div>
<div class="left">
  <h2>Boxes created via this spreadsheet: <%= @boxes.size %></h2>
  <%= render 'boxes/boxes_table' %>
</div>

