<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("View Imported Spreadsheets", spreadsheets_path) if policy(Spreadsheet).index? %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Edit Spreadsheet", {:action => 'edit', :id => @spreadsheet.id}) if policy(@spreadsheet).edit? %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Delete Spreadsheet", @spreadsheet, method: :delete, data: {:confirm=>'Are you sure you want to delete this Spreadsheet?  This will also delete all associated physical objects.  It will retain any bins or boxes associated to the spreadsheet.'}) if policy(@spreadsheet).destroy? %>
  </div>
<% end %>

<%= error_messages_for(@spreadsheet) %>

<div id="spreadsheet_div" class="left">
  <h2>Spreadsheet</h2>
  <%= render 'spreadsheet' %>
</div>

<div id="associated_div" class="left">
  <div>
    <h2>Physical Objects uploaded via this spreadsheet: <%= @physical_objects.size %></h2>
    Download all objects as: <%= link_to "Excel file", spreadsheet_path(id: 'spreadsheet_' + @spreadsheet.id.to_s, format: :xls, modified: false) if policy(@spreadsheet).show?%><br/>
    Download only objects modified since import (<%= @modified_objects.size %>) as: <%= link_to "Excel file", spreadsheet_path(id: 'spreadsheet_' + @spreadsheet.id.to_s, format: :xls, modified: true) if policy(@spreadsheet).show? %><br/>
    <%= render 'physical_objects/physical_objects_table' %>
  </div>
  <div>
    <h2>Bins created via this spreadsheet: <%= @bins.size %></h2>
    <%= render 'bins/bins_table' %>
  </div>
  <div>
    <h2>Boxes created via this spreadsheet: <%= @boxes.size %></h2>
    <%= render 'boxes/boxes_table' %>
  </div>
</div>

