<!DOCTYPE html>
<html>
<head>
  <title>Pod</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%# TODO: review javascript_include_tag approach %>
  <%# <%= javascript_include_tag "public" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="branding">
    <img src="/branding.png">
  </div>
  <div id="menu">
    <div class="menuItem">
      <%= link_to("Physical Objects", :controller => 'physical_objects', :action => 'index') %>
    </div>
    <div class="menuItem">
      <%= link_to("Batches", controller: :batches, action: :index) %>
    </div>
    <div class="menuItem">
      <%= link_to 'Bins', bins_path %>
    </div>
    <div class="menuItem">
      <%= link_to("Pick Lists", controller: 'picklist_specifications', action: 'index') %>
    </div>
    <div class="menuItem">
      <%= link_to("Statuses", :controller => 'status_templates', :action => 'index') %>
    </div>
    <div class="menuItem">
      <%= link_to("Advanced Search", :controller => 'search', :action => 'index') %>
    </div>
    <div class="left">
      <%= form_tag "/search/search_results", id: "basic_search_form" do %>
        <%= label_tag :barcode, nil, class: 'white' %>
        <%= text_field_tag :identifier, params[:identifier] %>
        <input type="submit" value="Search" style="position: absolute; left: -999px; height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" tabindex="-1"/>
      <%end%>
    </div>
  </div>
  <div id="contextMenu">
    <%= yield :context_menu %>
  </div>
  <% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice]%>
    </div>
  <% end %>
  
  <%= yield %>

</body>
</html>
