<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>
    POD: <%= controller.controller_name.to_s.titleize %>: <%= controller.action_name.to_s.titleize %>
  </title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%# TODO: review javascript_include_tag approach %>
  <%# <%= javascript_include_tag "public" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="branding">
      <%= image_tag "branding.png", {alt:"POD - Physical Object Database"} %>
      <div id="version_info">
        Version <%= APP_VERSION %>
      </div>
      <div id="user_info">
        <strong>User:</strong> <%= current_username %> (<%= link_to "logout", signout_path, method: :delete %><%# sessions controller does not use policy authorization %>)
      </div>
    </div>
    <%= environment_notice %>
    <div id="menu">
      <% if policy(:collection_owner).index? %>
        <div class="menuItem">
          <%= link_to("Collection Owner", :controller => 'collection_owner', :action => 'index') if policy(:collection_owner).index? %>
          <ul class="nav">
            <li><%= link_to("Index", controller: 'collection_owner', action: 'index') if policy(:collection_owner).index? %></li>
            <li><%= link_to("Search", controller: 'collection_owner', action: 'search') if policy(:collection_owner).search? %></li>
            <li><%= link_to("Upload Spreadsheet", collection_owner_upload_spreadsheet_path) if policy(:collection_owner).upload_spreadsheet? %></li>
          </ul>
        </div>
      <% end %>
      <div class="menuItem">
        <%= link_to("Physical Objects", :controller => 'physical_objects', :action => 'index') if policy(PhysicalObject).index? %>
        <ul class="nav">
          <li>
            <%= link_to("Create New Physical Object", controller: 'physical_objects', action: 'new') if policy(PhysicalObject).new? %>
          </li>
          <li>
            <%= link_to("Create Multiple Physical Objects", create_multiple_physical_objects_path) if policy(PhysicalObject).create_multiple? %>
          </li>
          <li>
            <%= link_to "View Group Keys", group_keys_path if policy(GroupKey).index?  %>
          </li>
          <li>
            <%= link_to "Create New Group Key", new_group_key_path if policy(GroupKey).new? %>
          </li>
          <li>
            <%= link_to("View Imported Spreadsheets", spreadsheets_path) if policy(Spreadsheet).index? %>
          </li>
          <li>
            <%= link_to("Upload Spreadsheet", upload_show_physical_objects_path) if policy(Spreadsheet).new? %>
          </li>
          <li>
            <%= link_to("Memnon Invoice", invoice_controller_path) if policy(:invoice).index? %></li>
          </li>
        </ul>
      </div>
      <div class="menuItem">
        <%= link_to("Batches", controller: :batches, action: :index) if policy(Batch).index? %>
        <ul class="nav">
	        <li>
	          <%= link_to("Create Batch", new_batch_path) if policy(Batch).new? %>
	        </li>
        </ul>
      </div>
      <div class="menuItem">
        <%= link_to 'Bins', bins_path if policy(Bin).index? %>
        <ul class="nav">
          <li>
            <%= link_to("Create Bin", new_bin_path) if policy(Bin).new? %>
          </li>
          <li>
            <%= link_to("Create Box", new_box_path) if policy(Box).new? %></li>
          </li>
          <li>
	          <%= link_to("View Boxes", boxes_path) if policy(Box).new? %>
          </li>
        </ul>
      </div>
      <div class="menuItem">
        <%= link_to("Pick Lists", controller: 'picklist_specifications', action: 'index') if policy(PicklistSpecification).index? %>
        <ul class="nav">
          <li>
            <%= link_to("Create Picklist Specification", new_picklist_specification_path) if policy(PicklistSpecification).new? %>
          </li>
          <li>
            <%= link_to("Create Picklist", new_picklist_path) if policy(Picklist).new? %>
          </li>
          <li>
            <%= link_to("View Shipments", shipments_path) if policy(Shipment).index? %>
          </li>
        </ul>
      </div>
      <div class="menuItem">
        <%= link_to("Statuses", :controller => 'status_templates', :action => 'index') if policy(:status_template).index? %>
      </div>
      <div class="menuItem">
        <%= link_to("Returns", returns_path) if policy(:return).index? %>
        <ul class="nav">
          <%= link_to("Return to unit", return_objects_returns_path) if policy(:return).return_objects? %>
        </ul>
      </div>
      <div class="menuItem">
        <%= link_to("Quality Control", quality_control_index_path) if policy(:quality_control).index? %>
        <ul class="nav">
          <li>
	          <%= link_to("Statuses", quality_control_index_path) if policy(:quality_control).index? %>
          </li>
          <li>
	          <%= link_to("Memnon Staging", quality_control_memnon_staging_index_path) if policy(:quality_control).staging_index? %>
          </li>
          <li>
	          <%= link_to("IU Staging", quality_control_iu_staging_index_path_path) if policy(:quality_control).staging_index? %>
          </li>
          <li>
	          <%= link_to("Direct QC", quality_control_direct_qc_path) if policy(:quality_control).staging_index? %>
          </li>
          <li>
	          <%= link_to("Staging Percentages", staging_percentages_path) if policy(:staging_percentage).index? %>
          </li>
          <li>
	          <%= link_to("responses/transfers xml", transfers_index_response_path) %><%# responses controller does not use policy authorization %>
          </li>
          <li>
	          <%= link_to("Messages", messages_path) if policy(:staging_percentage).index? %>
          </li>
        </ul>
      </div>
      <div class="menuItem">
        <%= link_to("Reports", controller: :reports, action: :index) if policy(:report).index? %>
        <ul class="nav">
          <li>
	     <%= link_to("Advanced Search", search_index_path) if policy(:search).advanced_search? %>
          </li>
          <li>
	     <%= link_to("Report Jobs", pod_reports_path) if policy(PodReport).index? %>
          </li>
          <li>
	     <%= link_to("Workflow History Report", contained_physical_objects_path) if policy(PhysicalObject).contained? %>
          </li>
        </ul>
      </div>
      <div class="left">
        <%= render 'search/basic_search_form' if policy(:search).search_results? %>
      </div>
    </div>
    <div id="contextMenu">
      <%= yield :context_menu %>
    </div>
  </div>
  <div id="content">
	  <div class="notice">
	    <% unless flash[:notice].to_s.blank? %>
	      <%= flash[:notice] %>
	    <% end %>
	  </div>
	  <div class="warning">
	    <% unless flash[:warning].to_s.blank? %>
	      <%= flash[:warning] %>
	    <% end %>
	  </div>
  
  <%= yield %>
  </div>
</body>
<%# hook in all the mdpi barcode fields with their validators and setup menu system%>
<script type="text/javascript">
  $(document).ready(function() {
	  //barcode stuff
	  $(".accordion").accordion({collapsible: true, active: false, heightStyle: "content"});
	  $(".mdpi").bind("change keyup", function () {
		  validateMdpiBarcode($(this));
	  });

	  //menu stuff
	  $('.menuItem').each(function() {
		  $(this).children('ul').css({
			  'min-width': $(this).css('width')
		  });
	  });
	  $('.menuItem').hoverIntent(
				function() {
					$(this).children('ul').slideDown(200);
				},
				function() {
					$(this).children('ul').slideUp(200);
				}
			);
  });

</script>
</html>
