<table>
  <tr><th colspan="2">Condition Status</th></tr>
  <% if f.object.errors.any? %>
  <tr><th>ERRORS</th><td><%= render 'shared/error_messages', object: f.object %></td></tr>
  <% end %>
  <tr>
    <th><%= f.select :condition_status_template_id, target_object.condition_status_options, {include_blank: 'Select a condition...'}, disabled: !@edit_mode %></th>
    <td><% if @edit_mode %><%= f.link_to_remove("Delete condition", data: { confirm: 'Are you sure you want to mark this condition for deletion?  The condition will be deleted when you submit the form.'} ) %><% end %></td>
  </tr>
  <tr>
    <th>Active</th>
    <td><%= f.check_box :active, disabled: !@edit_mode %></td>
  </tr>
  <tr>
    <th>Additional Notes</th>
    <td><%= f.text_area :notes, readonly: !@edit_mode %></td>
  </tr>
  <tr>
    <th>Creator</th>
    <td><%= f.text_field(:user, readonly: true) %></td>
  </tr>
  <tr>
    <th>Created At</th>
    <td><%= f.text_field(:created_at, readonly: true) %></td>
  </tr>
  <tr>
    <th>Updated At</th>
    <td><%= f.text_field(:updated_at, readonly: true) %></td>
  </tr>

</table>

