<h1>Listing group_keys</h1>

<table>
  <thead>
    <tr>
      <th>Group Identifier</th>
      <th>Physical Objects Count</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_keys.each do |group_key| %>
      <tr>
        <td><%= group_key.group_identifier %></td>
        <td><%= group_key.physical_objects_count %></td>
        <td><%= link_to 'Show', group_key %></td>
        <td><%= link_to 'Destroy', group_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group key', new_group_key_path %>
