<p id="notice"><%= notice %></p>

<div id="group_key" class="left">
<h2>Group Key</h2>
<p>
  <strong>Group Identifier:</strong>
  <%= @group_key.group_identifier %>
</p>
<p>
  <strong>Physical Objects Count:</strong>
  <%= @group_key.physical_objects_count %>
</p>
<%= link_to "Add another physical object", new_group_key_physical_object_path(@group_key.id) %>
</div>

<div id="physical_objects" class="left">
  <h2>Physical Objects in this Group</h2>
  <%= render 'physical_objects/physical_objects_table' %>
</div>

