<p id="notice"><%= notice %></p>

<p>
  <strong>Group Identifier:</strong>
  <%= @group_key.group_identifier %>
</p>
<p>
  <strong>Physical Objects Count:</strong>
  <%= @group_key.physical_objects_count %>
</p>

<%= link_to 'Edit', edit_group_key_path(@group_key) %> |
<%= link_to 'Back', group_keys_path %>
